{% extends "base.html" %}

{% block title %}HiSPARC | Station layout submit form{% endblock %}

{% block head_styles %}
<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}styles/submit_form.css">
{% endblock %}

{% block content %}

    <div id="header">
        <h2>HiSPARC station layout submit form</h2>
    </div>

    <a href="http://docs.hisparc.nl/coordinates/HiSPARC_coordinates.pdf" target="_blank">
        <img width="313" height="250" style="float: right;"
             title="HiSPARC station layout coordinate system"
             src="{{ STATIC_URL }}images/coordinate_system.png">
    </a>

    <form action="{% url 'django_publicdb.station_layout.views.validate_layout_submit' %}" method="post">
    {% csrf_token %}
        <p>
            {{ form.name.errors }}
            {{ form.name.label_tag }}
            {{ form.name }}
        </p>
        <p>
            {{ form.email.errors }}
            {{ form.email.label_tag }}
            {{ form.email }}
        </p>
        <p>
            {{ form.station.errors }}
            {{ form.station.label_tag }}
            {{ form.station }}
        </p>
        <p>
            Number of detectors:
            <input name="n" type="radio" value="2"> 2
            <input name="n" type="radio" value="4" checked> 4
        </p>
        <p>
            {{ form.active_date.error }}
            {{ form.active_date.label_tag }}
            {{ form.active_date }}<br>
            <span class="helptext">{{ form.active_date.help_text }}</span>
        </p>
        <table>
            <thead>
                <tr>
                    <th>
                    <th colspan='2'>Master
                    <th colspan='2'>Slave
                <tr>
                    <th>
                    <th style="color: black;">1
                    <th style="color: red;">2
                    <th style="color: green;">3
                    <th style="color: blue;">4
            <tbody>
                <tr>
                    <td title="radius: distance to detector from GPS, in plane of GPS">r [m]
                    <td>{{ form.detector_1_radius }}
                    <td>{{ form.detector_2_radius }}
                    <td>{{ form.detector_3_radius }}
                    <td>{{ form.detector_4_radius }}
                <tr>
                    <td title="alpha: angle between detector and true north as seen from GPS">α [°]
                    <td>{{ form.detector_1_alpha }}
                    <td>{{ form.detector_2_alpha }}
                    <td>{{ form.detector_3_alpha }}
                    <td>{{ form.detector_4_alpha }}
                <tr>
                    <td title="height: altitude of the detector above plane of GPS">z [m]
                    <td>{{ form.detector_1_height }}
                    <td>{{ form.detector_2_height }}
                    <td>{{ form.detector_3_height }}
                    <td>{{ form.detector_4_height }}
                <tr>
                    <td title="beta: angle of the long side of the scintillator to true north">β [°]
                    <td>{{ form.detector_1_beta }}
                    <td>{{ form.detector_2_beta }}
                    <td>{{ form.detector_3_beta }}
                    <td>{{ form.detector_4_beta }}
        </table>
        {% include "layout_canvas.html" %}

        <div style="clear: both;"></div>

        {{ html_captcha|safe }}<br>
        <input type="submit" value="Submit">
    </form>

{% endblock %} 

{% block script %}
    $('form table').on('change', function(event) {
        if ($('input[name=n]:checked').val() == '2') {
            var radius = [Number($('#id_detector_1_radius')[0].value),
                          Number($('#id_detector_2_radius')[0].value)]
            var alpha = [Number($('#id_detector_1_alpha')[0].value),
                         Number($('#id_detector_2_alpha')[0].value)]
            var beta = [Number($('#id_detector_1_beta')[0].value),
                        Number($('#id_detector_2_beta')[0].value)]}
        else {
            var radius = [Number($('#id_detector_1_radius')[0].value),
                          Number($('#id_detector_2_radius')[0].value),
                          Number($('#id_detector_3_radius')[0].value),
                          Number($('#id_detector_4_radius')[0].value)]
            var alpha = [Number($('#id_detector_1_alpha')[0].value),
                         Number($('#id_detector_2_alpha')[0].value),
                         Number($('#id_detector_3_alpha')[0].value),
                         Number($('#id_detector_4_alpha')[0].value)]
            var beta = [Number($('#id_detector_1_beta')[0].value),
                        Number($('#id_detector_2_beta')[0].value),
                        Number($('#id_detector_3_beta')[0].value),
                        Number($('#id_detector_4_beta')[0].value)]}
        draw_station(context, radius, alpha, beta);});

    $('input[name=n]').change(function() {disable_inputs();});

    function disable_inputs() {
        if ($('input[name=n]:checked').val() == '2') {
            $('td:nth-last-child(2) input').prop('disabled', true);
            $('td:last-child input').prop('disabled', true);}
        else {
            $('td:nth-last-child(2) input').prop('disabled', false);
            $('td:last-child input').prop('disabled', false);}}

{% endblock %}
