div.olMap {
    z-index: 0;
    padding: 0 !important;
    margin: 0 !important;
    cursor: default;}

div.olMapViewport {
    text-align: left;}

div.olLayerDiv {
   -moz-user-select: none;
   -khtml-user-select: none;}

.olControlAttribution {
    font-size: smaller;
    right: 3px;
    bottom: 4.5em;
    position: absolute;
    display: block;}

.olControlScaleLine {
   display: block;
   position: absolute;
   left: 10px;
   bottom: 15px;
   font-size: xx-small;}

.olControlScaleLineBottom {
   border: solid 2px black;
   border-bottom: none;
   margin-top:-2px;
   text-align: center;}

.olControlScaleLineTop {
   border: solid 2px black;
   border-top: none;
   text-align: center;}

/*
 * When a potential text is bigger than the image it move the image
 * with some headers (closes #3154)
 */
.olControlNoSelect {
 -moz-user-select: none;
 -khtml-user-select: none;}

.olImageLoadError {
    background-color: #007491;
    opacity: 0.5;
    filter: alpha(opacity=50); /* IE */}

/**
 * Cursor styles
 */

.olCursorWait {
    cursor: wait;}

.olDragDown {
    cursor: move;}

.olDrawBox {
    cursor: crosshair;}

.olControlDragFeatureOver {
    cursor: move;}

.olControlDragFeatureActive.olControlDragFeatureOver.olDragDown {
    cursor: -moz-grabbing;}

/**
 * Layer switcher
 */
/**
 * Editing and navigation icons.
 * (using the editing_tool_bar.png sprint image)
 */
/* positions */
/* layouts */
/* individual controls */

/**
 * Animations
 */

.olLayerGrid .olTileImage {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;}

