module nginx-publicdb 1.0;

require {
        type httpd_t;
        type var_t;
        type initrc_t;
        class unix_stream_socket connectto;
        class file { getattr open read };
}

#============= httpd_t ==============

#use connect to connect to uwsgi
allow httpd_t initrc_t:unix_stream_socket connectto;

#read "general" files (var_t) to be able to serve /static and /media
allow httpd_t var_t:file { read getattr open };
