{% load fix_strings %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'favicon.ico' %}">
    <meta charset="utf-8">
    <title>HiSPARC Station map</title>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'styles/leaflet.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'styles/maps.css' %}">
    <script src="{% static 'scripts/jquery-1.8.2.min.js' %}"></script>
    <script src="{% static 'scripts/jquery.flot-0.8a.min.js' %}"></script>
    <script src="{% static 'scripts/jquery.flot.axislabels.min.js' %}"></script>
    <script src="{% static 'scripts/jquery.flot.time.js' %}"></script>
    <script src="{% static 'scripts/leaflet.js' %}"></script>
    <script src="{% static 'scripts/leaflet.hisparc.js' %}"></script>
    <script>
        $(document).ready(function() {
            var map = createMap("map");

            {% if center %}
                map.setView(L.latLng({{ center.latitude }}, {{ center.longitude }}), 17);
            {% endif %}

            var station;
            {% for subcluster in subclusters %}
                var {{ subcluster.name|slugify|remove_hyphens }} = L.featureGroup();
                    {% for station in subcluster.stations %}
                        {% if station.longitude and station.latitude %}
                            station = L.circleMarker(
                                L.latLng({{ station.latitude }}, {{ station.longitude }}),
                                $.extend({}, pointStyle, {color: statusColors.{{ station.status }}})
                            );
                            station.bindTooltip("{{ station.number }}", {direction: 'top'})
                                {% if station.link %}
                                   .bindPopup("Station: <a href='{% url 'status:station:summary' station_number=station.number %}'>{{ station.number }} - {{ station.name }}</a><br>" +
                                {% else %}
                                   .bindPopup("Station: {{ station.number }} - {{ station.name }}<br>" +
                                {% endif %}
                                              "Cluster: {{ station.cluster }}");
                            {{ subcluster.name|slugify|remove_hyphens }}.addLayer(
                                station
                            );
                        {% endif %}
                    {% endfor %}
                {{ subcluster.name|slugify|remove_hyphens }}.addTo(map);
            {% endfor %}
            // Zoom to fit cluster
            {% if focus %}
                {% for layer in focus %}
                    {% if forloop.first %}
                        var bounds = {{ layer|slugify|remove_hyphens }}.getBounds();
                    {% else %}
                        bounds.extend({{ layer|slugify|remove_hyphens }}.getBounds());
                    {% endif %}
                {% endfor %}
                if (bounds) {
                    map.fitBounds(bounds, {padding: boundsPadding});
                }
            {% endif %}
        });
    </script>
</head>

<body>
<div id="map"></div>
</body>

</html>
