#header {
    margin-top: -80px;
}

#graphs {
    float: left;
}

#session, #scores {
    float: right;
    margin-top: 40px;
    width: 220px;
    font-size: 80%;
}

.sectionTitle {
    font-weight: bold;
    font-size: 130%;
}

.keyvalue {
    margin-top: 5px;
    margin-bottom: 5px;
}

.key {
    margin-right: 10px;
    font-weight: bold;
}

h3 {
    margin-bottom: 5px;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

.student {
    padding-right: 5px;
    padding-left: 5px;
}

#coreMap {
    clear: both;
    width: 585px;
    height: 300px;
}

#starMap {
    position: absolute;
    top: 375px;
    left: 500px;
}
