{% extends 'base_stations.html' %}

{% block current_number %}currentPage{% endblock %}

{% block header %}
    List of HiSPARC stations, by status
{% endblock %}

{% block list %}
    <ul>
      {% for station in stations %}
        <li>
            <!--<a href="{% url 'status:station:status' station.number %}">--><span class='statusBall {{ station.status }}'></span></a>
          {% if station.link %}
            <a href="{% url 'status:station:data' station.number %}">{{ station.number }} &mdash; {{ station.name }}</a>
          {% else %}
            {{ station.number }} &mdash; {{ station.name }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
{% endblock %}
