{% extends 'base.html' %}

{% load url from future %}

{% block content %}

<div id="header">
    <h2>{% block header %}List of HiSPARC stations{% endblock %}</h2>
</div>

<div id="intro">
  {% block intro %}{% endblock %}
</div>

<div id="stationList">
  {% block list %}{% endblock %}
</div>

{% block map %}{% endblock %}


<div id="navigation">
    <div class="sectionTitle">Stations</div>
    <div class="keyvalue">
        <span class="key">List by</span>
        <span class="value"><a href="{% url 'status_display.views.stations_by_country' %}">Location</a></span>
        <span class="value"><a href="{% url 'status_display.views.stations_by_name' %}">Name</a></span>
        <span class="value"><a href="{% url 'status_display.views.stations_by_number' %}">Number</a></span>
    </div>
    <div class="keyvalue">
        <span class="key">Map</span>
        <span class="value"><a href="{% url 'status_display.views.stations_on_map' %}">Overview</a></span>
        <span class="value">Cluster from list</span>
    </div>

</div>

<div id="legend">
    <div class="sectionTitle">Data Availability</div>
    <p><span style='color: #23B;'>Station</span> &larr; Link to data<br />
    Station &larr; No data received</p>

    <div class="sectionTitle">Current Status</div>
    <p><span class='statusBall up'></span> Up<br />
    <span class='statusBall problem'></span> Problem<br />
    <span class='statusBall down'></span> Down<br />
    <span class='statusBall'></span> &larr; Link to status</p>
</div>

<div id="sidebar">
    {% block sidebar %}{% endblock %}    
</div>
{% endblock %}
