{% extends 'base.html' %}

{% load url from future %}

{% block head_styles %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}styles/stations.css" />
{% endblock %}

{% block content %}

<div id="header">
    <h2>{% block header %}List of HiSPARC stations{% endblock %}</h2>
</div>

<div id="stationList">
  {% block list %}{% endblock %}
</div>

{% block map %}{% endblock %}


<div id="navigation">
    <div class="sectionTitle">Stations</div>
    <div class="keyvalue">
        <span class="key">List by</span>
        <span class="value"><a class="{% block current_location %}{% endblock %}" href="{% url 'status_display.views.stations_by_country' %}">Location</a></span>
        <span class="value"><a class="{% block current_name %}{% endblock %}" href="{% url 'status_display.views.stations_by_name' %}">Name</a></span>
        <span class="value"><a class="{% block current_number %}{% endblock %}" href="{% url 'status_display.views.stations_by_number' %}">Number</a></span>
    </div>
    <div class="keyvalue">
        <span class="key">Map</span>
        <span class="value"><a class="{% block current_map %}{% endblock %}" href="{% url 'status_display.views.stations_on_map' %}">Overview</a></span>
        <span class="value"><a class="nolink  {% block current_mapcluster %}{% endblock %}">Cluster from list</a></span>
    </div>
</div>

<div id="legend">
    <div class="sectionTitle">Data Availability</div>
    <div class="keyvalue">
        <span class="key thin" style='color: #23B;'>Station</span><span class="value">Link to data</span><br />
    </div>
    <div class="keyvalue">
        <span class="key thin">Station</span><span class="value">No data received</span>
    </div>

    <div class="sectionTitle">Current Status</div>
    <div class="keyvalue">
        <span class='key statusBall up'></span><span class="value">Up</span><br />
    </div>
    <div class="keyvalue">
        <span class='key statusBall problem'></span><span class="value">Problem</span><br />
    </div>
    <div class="keyvalue">
        <span class='key statusBall down'></span><span class="value">Down</span><br />
    </div>
    <div class="keyvalue">
        <span class='key statusBall'></span><span class="value">&larr; Link to status</span>
    </div>
</div>

<div id="sidebar">
    {% block sidebar %}{% endblock %}    
</div>
{% endblock %}
