{% extends 'base.html' %}

{% load url from future %}

{% block head_styles %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}styles/station_page.css" />
{% endblock %}

{% block title %}
    HiSPARC Station: {{ station.number }} - {{ station.name }}
{% endblock %}

{% block content %}

    <div id="header">
        <h2>{% block header %}Station: {{ station.number }} &mdash; {{ station.name }}{% endblock %}</h2>
        <div id="date">{% block date %}{% now "D, j N Y" %}{% endblock %}</div>
        <div id="notice">Histogram creation is currently not working due to some bad data on the server.<br />
                         Do not worry, data from all active stations is still being received and stored.<br />
                         We are working on a fix, once implemented all missing graphs will be generated.</div>
    </div>
    
    {% block data %}
    {% endblock %}

    <div id="sidebar">
        <div id="navigation">
          {% block navigation_sidebar %}
            <div class="keyvalue">
                <span class="key">Stations</span>
                <span class="value"><a href="{% url 'status_display.views.stations' %}">List</a></span>
                <span class="value"><a href="{% url 'status_display.views.stations_on_map' %}">Map</a></span>
            </div>
    
            <div class="keyvalue"><span class="key">Station</span>
                <span class="value {% if not has_data %}nolink">Data</span>{% else %}"><a class="{% block current_data %}{% endblock %}" href="{% url 'status_display.views.station' station.number %}">Data</a></span>{% endif %}
                <span class="value {% if not is_active %}nolink">Status</span>{% else %}"><a class="{% block current_status %}{% endblock %}" href="{% url 'status_display.views.station_status' station.number %}">Status</a></span>{% endif %}
                <span class="value {% if not has_config %}nolink">Config</a></span>{% else %}"><a class="{% block current_config %}{% endblock %}" href="{% url 'status_display.views.station_config' station.number %}">Config</a></span>{% endif %}
            </div>
          {% endblock %}
        </div>
    
        <div id="config">
          {% block config %}{% endblock %}
        </div>

        <div id="help">
          {% block help %}
            <div class="keyvalue">
                <span class="value"><a href="{% url 'status_display.views.help' %}" target="_blank">Help</a></span>
            </div>
          {% endblock %}    
        </div>
    </div>

{% endblock %}
