{% extends 'base_network.html' %}

{% load url from future %}
{% load fix_data %}

{% block current_coincidences %}currentPage{% endblock %}

{% block head_styles %}
    {{ block.super }}
    <!--[if lte IE 7]><style type="text/css" media="all">
        #yearlist li, #monthlist li {
            display: inline;}
    </style><![endif]-->
{% endblock %}

{% block head %}
    <script src="{{ STATIC_URL }}scripts/flot_settings.js"></script>
    <script src="{{ STATIC_URL }}scripts/OpenLayersHisparcMap.js"></script>
    <script>
        function downloadGraph(target) {
            var dataurl = $(target + ' .flot-base')[0].toDataURL();
            window.open(dataurl, '_blank', "height=350, width=630, toolbar=yes")
        }
    </script>
{% endblock %}

{% block date %}{{ date|date:"D, j N Y" }}{% endblock %}

{% block data %}
    <div id="graphs">

      {% if coincidencetimehistogram %}
        <div id="coincidenceTimeHistogram" class="histogram">
            <h3>Coincidence histogram (number of coincidences per hour)</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#ct_histogram')">Image</a> |
                <a href="{% url 'status_display.views.get_coincidencetime_histogram_source' link.0 link.1 link.2 %}">Source</a>
            </div>
            <div class="plot" id="ct_histogram"></div>
            <script>
                ct_labels = {yaxis: {axisLabel: "{{ coincidencetimehistogram.y_label }}"},
                             xaxis: {axisLabel: "{{ coincidencetimehistogram.x_label }}"}}
                $.extend(true, ct_options, ct_labels)
                $.plot($("#ct_histogram"), [
                  {% for data in coincidencetimehistogram.data %}
                    {data: {{ data|fix_histogram_data }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], ct_options);
            </script>
        </div>
      {% endif %}

      {% if coincidencenumberhistogram %}
        <div id="coincidenceNumberHistogram" class="histogram">
            <h3>Number of stations histogram</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#cn_histogram')">Image</a> |
                <a href="{% url 'status_display.views.get_coincidencenumber_histogram_source' link.0 link.1 link.2 %}">Source</a>
            </div>
            <div class="plot" id="cn_histogram"></div>
            <script>
                cn_labels = {yaxis: {axisLabel: "{{ coincidencenumberhistogram.y_label }}"},
                             xaxis: {axisLabel: "{{ coincidencenumberhistogram.x_label }}"}}
                $.extend(true, cn_options, cn_labels)
                $.plot($("#cn_histogram"), [
                  {% for data in coincidencenumberhistogram.data %}
                    {data: {{ data|fix_histogram_data|shift_bins:-0.5 }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], cn_options);
            </script>
        </div>
      {% endif %}

    </div>
{% endblock %}

{% block navigation_sidebar %}
    {{ block.super }}

    <div id="download"><a href="{% url 'raw_data.views.coincidences_download_form' date.isoformat tomorrow.isoformat %}">Download event summary data</a></div>

  {% if prev %}
     <a class='nextprev' id='prev' href="{% url 'status_display.views.network_coincidences' prev.year prev.month prev.day %}">&larr;</a>
  {% endif %}
  {% if next %}
     <a class='nextprev' id='next' href="{% url 'status_display.views.network_coincidences' next.year next.month next.day %}">&rarr;</a>
  {% endif %}

    <table id="calendar">
    <tr><th colspan="7">{{ thismonth.month }}</th></tr>
    <tr>
      {% for day in thismonth.days %}
        <th class="dayname">{{ day }}</th>
      {% endfor %}
    </tr>
      {% for week in thismonth.weeks %}
        <tr>
          {% for day in week %}
            <td class="day">
              {% if day.link %}
                <a {% if current_date.day == day.day %}class='currentDate'{% endif %} href="{% url 'status_display.views.network_coincidences' day.link.0 day.link.1 day.link.2 %}">{{ day.day }}</a>
              {% else %}
                <span class="nolink">{{ day.day }}</span>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>

    <div id="monthlist">
    <ul>
      {% for month in month_list %}
        <li>
          {% if month.link %}
            <a {% if current_date.month == month.month %}class='currentDate'{% endif %} href="{% url 'status_display.views.network_coincidences' month.link.0 month.link.1 month.link.2 %}">{{ month.month }}</a>
          {% else %}
            <span class="nolink">{{ month.month }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    </div>

    <div id="yearlist">
    <ul>
      {% for year in year_list %}
        <li>
          {% if year.link %}
            <a {% if current_date.year == year.year %}class='currentDate'{% endif %} href="{% url 'status_display.views.network_coincidences' year.link.0 year.link.1 year.link.2 %}">{{ year.year }}</a>
          {% else %}
            <span class="nolink">{{ year.year }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    </div>
{% endblock %}

{% block status %}
  {% if status %}
    <div id="stations">
        <div class="sectionTitle">Source</div>
        <div class="keyvalue"><span class="key">Stations with data</span><span class="value">{{ status.station_count }}</span></div>
        <div class="keyvalue"><span class="key">Total number of events</span><span class="value">{{ status.n_events }}</span></div>
    </div>
  {% endif %}
{% endblock %}
