{% extends 'base.html' %}

{% load url from future %}
{% load fix_data %}

{% block title %}HiSPARC Station: {{ station.number }} - {{ station.name }}{% endblock %}

{% block head_styles %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}styles/station_page.css" />
    <!--[if lte IE 7]><style type="text/css" media="all">
        #yearlist li, #monthlist li {
            display: inline;}
    </style><![endif]-->
{% endblock %}

{% block content %}
<div id="header">
    <h2>Station: {{ station.number }} &mdash; {{ station.name }}</h2>
    <div id="date">{% now "D, j N Y" %}</div>
</div>

<div id="navigation">

    <div class="keyvalue">
        <span class="key">Stations</span>
        <span class="value"><a href="{% url 'status_display.views.stations' %}">List</a></span>
        <span class="value"><a href="{% url 'status_display.views.stations_on_map' %}">Map</a></span>
    </div>

    <div class="keyvalue"><span class="key">Station</span>
        {% if has_data %}<span class="value"><a href="{% url 'status_display.views.station' station.number %}">Data</a></span>{% else %}<span class="value nolink">Data</span>{% endif %}
        <span class="value"><a href="{% url 'status_display.views.station_status' station.number %}" class="currentPage">Status</a></span>
        {% if has_config %}<span class="value"><a href="{% url 'status_display.views.station_config' station.number %}">Config</a></span>{% else %}<span class="value nolink">Config</span>{% endif %}
    </div>

</div>

<div id="nagios">
    <iframe width="100%" height="100%" frameborder="0" scrolling="auto" src="http://vpn.hisparc.nl/nagios/cgi-bin/status.cgi?host={{ pc.name }}&style=detail"></iframe>
</div>

{% endblock %}
