{% extends 'base_station.html' %}

{% load url from future %}
{% load fix_data %}

{% block current_data %}currentPage{% endblock %}

{% block title %}HiSPARC Station: {{ station.number }} - {{ station.name }}, Date: {{ date|date:"N j, Y" }}{% endblock %}

{% block head_styles %}
    {{ block.super }}
    <!--[if lte IE 7]><style type="text/css" media="all">
        #yearlist li, #monthlist li {
            display: inline;}
    </style><![endif]-->
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/flot_settings.js"></script>
    <!--[if lte IE 8]><script type="text/javascript">
        var td_options = $.extend(true, {}, td_options, {series: {lines: {show: true}, points: {show: false}}});
        var bd_options = $.extend(true, {}, bd_options, {series: {lines: {show: true}, points: {show: false}}});
    </script><![endif]-->
    <script type="text/javascript">
      {% if config %}
        var pointStyle = {
            fillColor: '#00F',
            fillOpacity: 0.8,
            pointRadius: 7,
            stroke: false};

        $(document).ready(function() {
            var fromProjection = new OpenLayers.Projection("EPSG:4326"); // transform from WGS 1984
            var toProjection = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
            var options = {
                controls: [
                    new OpenLayers.Control.Navigation(
                        {dragPanOptions: {enableKinetic: true}}),
                    new OpenLayers.Control.Attribution(),
                    new OpenLayers.Control.ScaleLine()]};
            var map = new OpenLayers.Map("stationMap", options);
            var mapLayer = new OpenLayers.Layer.OSM();
            map.addLayer(mapLayer);

            map.setCenter(new OpenLayers.LonLat({{ config.gps_longitude }}, {{ config.gps_latitude }})
                                        .transform(fromProjection, toProjection), 16);

            var stationLayer = new OpenLayers.Layer.Vector("stations");
            var feature = new OpenLayers.Feature.Vector(
                new OpenLayers.Geometry.Point({{ config.gps_longitude }}, {{ config.gps_latitude }})
                                       .transform(fromProjection, toProjection),
                {id: {{ station.number }},
                 name: "{{ station.name }}"},
                pointStyle);

            stationLayer.addFeatures(feature);
            map.addLayer(stationLayer);
            
            var layer_style = OpenLayers.Util.extend({}, OpenLayers.Feature.Vector.style['default']);

            map.events.register('zoomend', this, function(event) {
                var zLevel = map.getZoom();
                if (zLevel <= 5) {
                    setPointRadius(4);}
                else if (zLevel <= 8) {
                    setPointRadius(5);}
                else if (zLevel <= 11) {
                    setPointRadius(6);}
                else if (zLevel <= 14) {
                    setPointRadius(7);}
                else if (zLevel <= 16) {
                    setPointRadius(8);}
                else if (zLevel <= 18) {
                    setPointRadius(9);}
            });
        });

      {% endif %}

        function setPointRadius(size) {
            $('circle').attr('r', size.toString());
            pointStyle.pointRadius = size;
        }

        function downloadGraph(target) {
            var dataurl = $(target + ' .flot-base')[0].toDataURL();
            window.open(dataurl, '_blank', "height=350, width=630, toolbar=yes")
        }
    </script>
{% endblock %}

{% block date %}{{ date|date:"D, j N Y" }}{% endblock %}

{% block data %}
    <div id="graphs">
    
      {% if eventhistogram %}
        <div id="eventHistogram" class="histogram">
            <h3>Event histogram (number of events per hour)</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#eh_histogram')">Image</a> |
                <a href="{% url 'status_display.views.get_eventtime_histogram_source' link.0 link.1 link.2 link.3 %}">Source</a>
            </div>
            <div class="plot" id="eh_histogram"></div>
            <script type="text/javascript">
                eh_labels = {yaxis: {axisLabel: "{{ eventhistogram.y_label }}"},
                             xaxis: {axisLabel: "{{ eventhistogram.x_label }}"}}
                $.extend(true, eh_options, eh_labels)
                $.plot($("#eh_histogram"), [
                  {% for data in eventhistogram.data %}
                    {data: {{ data|fix_histogram_data }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], eh_options);
            </script>
        </div>
      {% endif %}
    
      {% if pulseheighthistogram %}
        <div id="pulseheightHistogram" class="histogram">
            <h3>Pulseheight histogram</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#ph_histogram')">Image</a> |
                <a href="{% url 'status_display.views.get_pulseheight_histogram_source' link.0 link.1 link.2 link.3 %}">Source</a>
            </div>
            <div class="plot" id="ph_histogram"></div>
            <script type="text/javascript">
                ph_labels = {yaxis: {axisLabel: "{{ pulseheighthistogram.y_label }}"},
                             xaxis: {axisLabel: "{{ pulseheighthistogram.x_label }}"}}
                $.extend(true, ph_options, ph_labels)
                $.plot($("#ph_histogram"), [
                  {% for data in pulseheighthistogram.data %}
                    {data: {{ data|fix_histogram_data }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], ph_options);
            </script>
        </div>
      {% endif %}
    
      {% if pulseintegralhistogram %}
        <div id="pulseintegralHistogram" class="histogram">
            <h3>Pulseintegral histogram</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#pi_histogram')">Image</a> |
                <a href="{% url 'status_display.views.get_pulseintegral_histogram_source' link.0 link.1 link.2 link.3 %}">Source</a>
            </div>
            <div class="plot" id="pi_histogram"></div>
            <script type="text/javascript">
                pi_labels = {yaxis: {axisLabel: "{{ pulseintegralhistogram.y_label }}"},
                             xaxis: {axisLabel: "{{ pulseintegralhistogram.x_label }}"}}
                $.extend(true, pi_options, pi_labels)
                $.plot($("#pi_histogram"), [
                  {% for data in pulseintegralhistogram.data %}
                    {data: {{ data|fix_histogram_data }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], pi_options);
            </script>
        </div>
      {% endif %}
    
      {% if barometerdata %}
        <div id="barometerData" class="histogram">
            <h3>Barometer data</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#bd_histogram')">Image</a> |
                <a href="{% url 'status_display.views.get_barometer_dataset_source' link.0 link.1 link.2 link.3 %}">Source</a>
            </div>
            <div class="plot" id="bd_histogram"></div>
            <script type="text/javascript">
                bd_labels = {yaxis: {axisLabel: "{{ barometerdata.y_label }}"},
                             xaxis: {axisLabel: "{{ barometerdata.x_label }}"}}
                $.extend(true, bd_options, bd_labels)
                $.plot($("#bd_histogram"), [
                  {% for data in barometerdata.data %}
                    {data: {{ data|fix_timestamps_in_data|slice_data:50|round_data:2 }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], bd_options);
            </script>
        </div>
      {% endif %}
    
      {% if temperaturedata %}
        <div id="temperatureData" class="histogram">
            <h3>Temperature data</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#td_histogram')">Image</a> |
                <a href="{% url 'status_display.views.get_temperature_dataset_source' link.0 link.1 link.2 link.3 %}">Source</a>
            </div>
            <div class="plot" id="td_histogram"></div>
            <script type="text/javascript">
                td_labels = {yaxis: {axisLabel: "{{ temperaturedata.y_label }}"},
                             xaxis: {axisLabel: "{{ temperaturedata.x_label }}"}}
                $.extend(true, td_options, td_labels)
                $.plot($("#td_histogram"), [
                  {% for data in temperaturedata.data %}
                    {data: {{ data|fix_timestamps_in_data|slice_data:50|round_data:2 }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], td_options);
            </script>
        </div>
      {% endif %}
    </div>
{% endblock %}

{% block navigation_sidebar %}
  {% if prev %}
     <a class='nextprev' id='prev' href='{% url 'status_display.views.station_data' station.number prev.year prev.month prev.day %}'>&larr;</a>
  {% endif %}
  {% if next %}
     <a class='nextprev' id='next' href='{% url 'status_display.views.station_data' station.number next.year next.month next.day %}'>&rarr;</a>
  {% endif %}

    <table id="calendar">
    <tr><th colspan="7">{{ thismonth.month }}</th></tr>
    <tr>
      {% for day in thismonth.days %}
        <th class="dayname">{{ day }}</th>
      {% endfor %}
    </tr>
      {% for week in thismonth.weeks %}
        <tr>
          {% for day in week %}
            <td class="day">
              {% if day.link %}
                <a {% if current_date.day == day.day %}class='currentDate'{% endif %} href='{% url 'status_display.views.station_data' day.link.0 day.link.1 day.link.2 day.link.3 %}'>{{ day.day }}</a>
              {% else %}
                <span class="nolink">{{ day.day }}</span>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>

    <div id="monthlist">
    <ul>
      {% for month in month_list %}
        <li>
          {% if month.link %}
            <a {% if current_date.month == month.month %}class='currentDate'{% endif %} href='{% url 'status_display.views.station_data' month.link.0 month.link.1 month.link.2 month.link.3 %}'>{{ month.month }}</a>
          {% else %}
            <span class="nolink">{{ month.month }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    </div>

    <div id="yearlist">
    <ul>
      {% for year in year_list %}
        <li>
          {% if year.link %}
            <a {% if current_date.year == year.year %}class='currentDate'{% endif %} href='{% url 'status_display.views.station_data' year.link.0 year.link.1 year.link.2 year.link.3 %}'>{{ year.year }}</a>
          {% else %}
            <span class="nolink">{{ year.year }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    </div>
{% endblock %}

{% block config %}
  {% if config %}
    <div id="master">
        <div class="sectionTitle">Master</div>
        <div class="keyvalue"><span class="key">Version</span><span class="value">{{ config.mas_version }}</span></div>
        <div class="keyvalue"><span class="key ch1">HV Ch1</span><span class="value">{{ config.mas_ch1_voltage|floatformat:0 }} V</span></div>
        <div class="keyvalue"><span class="key ch2">HV Ch2</span><span class="value">{{ config.mas_ch2_voltage|floatformat:0 }} V</span></div>
    </div>
    {% if has_slave %}
    <div id="slave">
        <div class="sectionTitle">Slave</div>
        <div class="keyvalue"><span class="key">Version</span><span class="value">{{ config.slv_version }}</span></div>
        <div class="keyvalue"><span class="key ch3">HV Ch3</span><span class="value">{{ config.slv_ch1_voltage|floatformat:0 }} V</span></div>
        <div class="keyvalue"><span class="key ch4">HV Ch4</span><span class="value">{{ config.slv_ch2_voltage|floatformat:0 }} V</span></div>
    </div>
    {% endif %}
    <div id="stationPosition">
        <div class="sectionTitle">Position</div>
        <div class="keyvalue"><span class="key">Latitude</span><span class="value">{{ config.gps_latitude }}</span></div>
        <div class="keyvalue"><span class="key">Longitude</span><span class="value">{{ config.gps_longitude }}</span></div>
        <div class="keyvalue"><span class="key">Altitude</span><span class="value">{{ config.gps_altitude }}</span></div>
        <div id="stationMap"></div>
    </div>
  {% endif %}
{% endblock %}
