{% extends 'base.html' %}

{% block css %}
#header * {
    margin: 0px;
    padding: 0px;
}

#header {
    margin-bottom: 10px;
}

#stationNumber {
    color: gray;
    font-size: 10pt;
}

#date {
    font-weight: bold;
    font-size: 11pt;
    margin-top: 5px;
}

#graphs {
    float: left;
}

#navigation, #config {
    float: right;
    width: 220px;
    font-size: 9pt;
    border-left: 1px solid black;
    padding-left: 20px;
}

#yearlist > a, #monthlist > a {
    margin-right: 10px;
}

#yearlist, #monthlist, #listLink {
    margin-top: 20px;
}

#calendar .day, #calendar .dayname {
    width: 25px;
    height: 25px;
    text-align: right;
}

#calendar .dayname {
    font-size: 8pt;
}

a:link, a:visited {
    color: black;
    font-weight: bold;
}

a.sourceLink {
    float: right;
    position: relative;
    right: 11px;
    top: 15px;
    font-size: 8pt;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-decoration: none;
}

.histogram h3 {
    margin-bottom: -10px;
}

#config {
    margin-top: 50px;
}

#config > div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sectionTitle {
    font-size: 120%;
    font-weight: bold;
    text-decoration: underline;
}

.keyvalue, .mapLink {
    margin-top: 5px;
    margin-bottom: 5px;
}

.key {
    font-weight: bold;
    margin-right: 10px;
}

.info {
    background-color: #efe;
    padding: 10px;
    border: 2px solid #8f8;
    margin-bottom: 20px;
}

.info p, .warning p {
    margin: 0px;
}

.warning {
    background-color: #fee;
    padding: 10px;
    border: 2px solid #f88;
    margin-bottom: 20px;
}
{% endblock %}
{% block content %}

<div id="header">
    <h2>Station {{ station.location.name }}</h2>
    <div id="stationNumber">{{ station.number }}</div>
    <div id="date">{{ date|date:"D N j, Y" }}</div>
</div>

<div class="info">
<p>Migration of our original database to the new datastore was succesful.
We now have all data available and graphs can be accessed using this
interface, with data ranging back to 2004.  However, the graphing logic
has not been updated yet to produce more optimal graphs for the original
hardware.</p>
</div>

<div class="warning">
<p>As of April 15, 2010, we are migrating many terabytes of data from our
<i>eventwarehouse</i> to our new datastore.  As a result of this, a
backlog in recent data is building up.  Recent graphs may show a lack of
data, which does not reflect any physical process.  The graphs will be
automatically updated when the backlog is finally processed.</p>
</div>

<div id="graphs">
{% if eventhistogram %}
    <div id="eventHistogram" class="histogram">
        <h3>Event Histogram (number of events per hour)</h3>
        <a href="{% url status_display.views.get_eventtime_histogram_source link.0,link.1,link.2,link.3 %}" class="sourceLink">Source</a><br>
        <img src='{{ eventhistogram }}' alt="Event time histogram">
    </div>
{% endif %}

{% if pulseheighthistogram %}
    <div id="pulseheightHistogram" class="histogram">
        <h3>Pulse height histogram</h3>
        <a href="{% url status_display.views.get_pulseheight_histogram_source link.0,link.1,link.2,link.3 %}" class="sourceLink">Source</a><br>
        <img src='{{ pulseheighthistogram }}' alt="Pulse height histogram">
    </div>
{% endif %}

{% if pulseintegralhistogram %}
    <div id="pulseintegralHistogram" class="histogram">
        <h3>Pulse integral histogram</h3>
        <a href="{% url status_display.views.get_pulseintegral_histogram_source link.0,link.1,link.2,link.3 %}" class="sourceLink">Source</a><br>
        <img src='{{ pulseintegralhistogram }}' alt="Pulse integral histogram">
    </div>
{% endif %}

{% if barometerdata %}
    <div id="barometerData" class="histogram">
        <h3>Barometer data</h3>
        <a href="{% url status_display.views.get_barometer_dataset_source link.0,link.1,link.2,link.3 %}" class="sourceLink">Source</a><br>
        <img src='{{ barometerdata }}' alt="Barometer data">
    </div>
{% endif %}
{% if temperaturedata %}
    <div id="temperatureData" class="histogram">
        <h3>Temperature data</h3>
        <a href="{% url status_display.views.get_temperature_dataset_source link.0,link.1,link.2,link.3 %}" class="sourceLink">Source</a><br>
        <img src='{{ temperaturedata }}' alt="Temperature data">
    </div>
{% endif %}
</div>

<div id="navigation">
    <table id="calendar">
    <tr><th colspan="7">{{ thismonth.month }}</th></tr>
    <tr>
    {% for day in thismonth.days %}
      <th class="dayname">{{ day }}</th>
    {% endfor %}
    </tr>
    {% for week in thismonth.weeks %}
      <tr>
        {% for day in week %}
          <td class="day">
            {% if day.link %}
              <a href='{% url status_display.views.station_page day.link.0,day.link.1,day.link.2,day.link.3 %}'>{{ day.day }}</a>
            {% else %}
              {{ day.day }}
            {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
    </table>

    <div id="yearlist">
    {% for year in year_list %}
      <a href='{% url status_display.views.station_page year.link.0,year.link.1,year.link.2,year.link.3 %}'>{{ year.year }}</a>
    {% endfor %}
    </div>

    <div id="monthlist">
    {% for month in month_list %}
        {% ifequal forloop.counter0 6 %}<br>{% endifequal %}
        <a href='{% url status_display.views.station_page month.link.0,month.link.1,month.link.2,month.link.3 %}'>{{ month.month }}</a>
    {% endfor %}
    </div>

    <div id="listLink">
        <a href="{% url status_display.views.stations %}">Station List</a>
    </div>
</div>

<div id="config">
    {% if config %}
        <div id="stationPosition">
            <div class="sectionTitle">Position</div>
            <div class="keyvalue"><span class="key">Latitude:</span><span class="value">{{ config.gps_latitude }}</span></div>
            <div class="keyvalue"><span class="key">Longitude:</span><span class="value">{{ config.gps_longitude }}</span></div>
            <div class="keyvalue"><span class="key">Altitude:</span><span class="value">{{ config.gps_altitude }}</span></div>
            <div id="maps">
                <div class="mapLink"><a href="http://www.openstreetmap.org/?mlat={{ config.gps_latitude }}&amp;mlon={{ config.gps_longitude }}&amp;zoom=15">Openstreetmap</a></div>
                <div class="mapLink"><a href="http://maps.google.com/?ll={{ config.gps_latitude }},{{ config.gps_longitude }}&amp;z=15">Google Maps</a></div>
            </div>
        </div>
        <div id="master">
            <div class="sectionTitle">Master</div>
            <div class="keyvalue"><span class="key">Version</span><span class="value">{{ config.mas_version }}</span></div>
            <div class="keyvalue"><span class="key">HV Ch1</span><span class="value">{{ config.mas_ch1_voltage|floatformat:0 }} V</span></div>
            <div class="keyvalue"><span class="key">HV Ch2</span><span class="value">{{ config.mas_ch2_voltage|floatformat:0 }} V</span></div>
        </div>
        {% if has_slave %}
            <div id="slave">
                <div class="sectionTitle">Slave</div>
                <div class="keyvalue"><span class="key">Version</span><span class="value">{{ config.slv_version }}</span></div>
                <div class="keyvalue"><span class="key">HV Ch3</span><span class="value">{{ config.slv_ch1_voltage|floatformat:0 }} V</span></div>
                <div class="keyvalue"><span class="key">HV Ch4</span><span class="value">{{ config.slv_ch2_voltage|floatformat:0 }} V</span></div>
            </div>
        {% endif %}
    {% endif %}
</div>

{% endblock %}
