{% extends 'base.html' %}

{% load url from future %}

{% block title %}HiSPARC Station: {{ station.number }} - {{ station.name }}, Date: {{ date|date:"N j, Y" }}{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}styles/station_page.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/flot_settings.js"></script>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div id="header">
    <h2>Station: {{ station.name }}</h2>
    <div id="stationNumber">{{ station.number }}</div>
    <div id="date">{{ date|date:"D N j, Y" }}</div>
</div>

<div id="graphs">

{% if eventhistogram %}
    <div id="eventHistogram" class="histogram">
        <h3>Event histogram (number of events per hour)</h3>
        <a href="{% url 'status_display.views.get_eventtime_histogram_source' link.0 link.1 link.2 link.3 %}" class="sourceLink">Source</a><br>
        <div class="plot" id="eh_histogram" style="height:201px;"></div>
        <script type="text/javascript">
        $.plot($("#eh_histogram"), [
        {% for data in eventhistogram.data %}
            {data: {{ data }}, yaxis:1},
        {% endfor %}
            {data: [0,0], lines: {show: false}, xaxis:2, yaxis:2},], eh_options);
        </script>
    </div>
{% endif %}

{% if pulseheighthistogram %}
    <div id="pulseheightHistogram" class="histogram">
        <h3>Pulseheight histogram</h3>
        <a href="{% url 'status_display.views.get_pulseheight_histogram_source' link.0 link.1 link.2 link.3 %}" class="sourceLink">Source</a><br>
        <div class="plot" id="ph_histogram" style="height:351px;"></div>
        <script type="text/javascript">
            $.plot($("#ph_histogram"), {{ pulseheighthistogram.data }}, ph_options);
        </script>
    </div>
{% endif %}

{% if pulseintegralhistogram %}
    <div id="pulseintegralHistogram" class="histogram">
        <h3>Pulseintegral histogram</h3>
        <a href="{% url 'status_display.views.get_pulseintegral_histogram_source' link.0 link.1 link.2 link.3 %}" class="sourceLink">Source</a><br>
        <div class="plot" id="pi_histogram" style="height:351px;"></div>
        <script type="text/javascript">
            $.plot($("#pi_histogram"), {{ pulseintegralhistogram.data }}, pi_options);
        </script>
    </div>
{% endif %}

{% if barometerdata %}
    <div id="barometerData" class="histogram">
        <h3>Barometer data</h3>
        <a href="{% url 'status_display.views.get_barometer_dataset_source' link.0 link.1 link.2 link.3 %}" class="sourceLink">Source</a><br>
        <div class="plot" id="bd_histogram" style="height:331px;"></div>
        <script type="text/javascript">
            $.plot($("#bd_histogram"), {{ barometerdata.data }}, bd_options);
        </script>
    </div>
{% endif %}
{% if temperaturedata %}
    <div id="temperatureData" class="histogram">
        <h3>Temperature data</h3>
        <a href="{% url 'status_display.views.get_temperature_dataset_source' link.0 link.1 link.2 link.3 %}" class="sourceLink">Source</a><br>
        <div class="plot" id="td_histogram" style="height:331px;"></div>
        <script type="text/javascript">
            $.plot($("#td_histogram"), {{ temperaturedata.data }}, td_options);
        </script>
    </div>
{% endif %}
</div>

<div id="navigation">

  {% if prev %}
     <a class='nextprev' id='prev' href='{% url 'status_display.views.station_page' station.number prev.year prev.month prev.day %}'>&larr;</a>
  {% endif %}
  {% if next %}
     <a class='nextprev' id='next' href='{% url 'status_display.views.station_page' station.number next.year next.month next.day %}'>&rarr;</a>
  {% endif %}

    <table id="calendar">
    <tr><th colspan="7">{{ thismonth.month }}</th></tr>
    <tr>
      {% for day in thismonth.days %}
        <th class="dayname">{{ day }}</th>
      {% endfor %}
    </tr>
      {% for week in thismonth.weeks %}
        <tr>
          {% for day in week %}
            <td class="day">
              {% if day.link %}
                <a class='{% if current_date.day == day.day %}currentDate{% endif %}' href='{% url 'status_display.views.station_page' day.link.0 day.link.1 day.link.2 day.link.3 %}'>{{ day.day }}</a>
              {% else %}
                {{ day.day }}
              {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>

    <div id="monthlist">
    <ul>
      {% for month in month_list %}
        {% if month.link %}
          <a class='{% if current_date.month == month.month %}currentDate{% endif %}' href='{% url 'status_display.views.station_page' month.link.0 month.link.1 month.link.2 month.link.3 %}'>{{ month.month }}</a>
        {% else %}
          {{ month.month }}
        {% endif %}
      {% endfor %}
    </ul>
    </div>

    <div id="yearlist">
    <ul>
      {% for year in year_list %}
        <li><a class='{% if current_date.year == year.year %}currentDate{% endif %}' href='{% url 'status_display.views.station_page' year.link.0 year.link.1 year.link.2 year.link.3 %}'>
          {{ year.year }}
        </a></li>
      {% endfor %}
    </ul>
    </div>

    <div id="listLink">
        <a href="{% url 'status_display.views.stations' %}">Station List</a>
    </div>

</div>

<div id="config">
    {% if config %}
        <div id="stationPosition">
            <div class="sectionTitle">Position</div>
            <div class="keyvalue"><span class="key">Latitude:</span><span class="value">{{ config.gps_latitude }}</span></div>
            <div class="keyvalue"><span class="key">Longitude:</span><span class="value">{{ config.gps_longitude }}</span></div>
            <div class="keyvalue"><span class="key">Altitude:</span><span class="value">{{ config.gps_altitude }}</span></div>
            <div id="maps">
                <div class="mapLink"><a href="http://www.openstreetmap.org/?mlat={{ config.gps_latitude }}&amp;mlon={{ config.gps_longitude }}&amp;zoom=15">Openstreetmap</a></div>
            </div>
        </div>
        <div id="master">
            <div class="sectionTitle">Master</div>
            <div class="keyvalue"><span class="key">Version</span><span class="value">{{ config.mas_version }}</span></div>
            <div class="keyvalue"><span style="color:#444;" class="key ch1">HV Ch1</span><span class="value">{{ config.mas_ch1_voltage|floatformat:0 }} V</span></div>
            <div class="keyvalue"><span style="color:#D22;" class="key ch2">HV Ch2</span><span class="value">{{ config.mas_ch2_voltage|floatformat:0 }} V</span></div>
        </div>
        {% if has_slave %}
            <div id="slave">
                <div class="sectionTitle">Slave</div>
                <div class="keyvalue"><span class="key">Version</span><span class="value">{{ config.slv_version }}</span></div>
                <div class="keyvalue"><span class="key ch3">HV Ch3</span><span class="value">{{ config.slv_ch1_voltage|floatformat:0 }} V</span></div>
                <div class="keyvalue"><span class="key ch4">HV Ch4</span><span class="value">{{ config.slv_ch2_voltage|floatformat:0 }} V</span></div>
            </div>
        {% endif %}
    {% endif %}
</div>

{% endblock %}
