{% extends 'base.html' %}

{% block css %}
#stationList {
    font-size: 10pt;
}

ul {
    list-style: none;
}

.info {
    background-color: #efe;
    padding: 10px;
    border: 2px solid #8f8;
    margin-bottom: 20px;
}

.info p, .warning p {
    margin: 0px;
}

.warning {
    background-color: #fee;
    padding: 10px;
    border: 2px solid #f88;
}
{% endblock %}

{% block content %}

<div id="header">
    <h2>List of stations, per cluster</h2>
</div>
<!--
<div class="info">
<p>Migration of our original database to the new datastore was succesful.
We now have all data available and graphs can be accessed using this
interface, with data ranging back to 2004.  However, the graphing logic
has not been updated yet to produce more optimal graphs for the original
hardware.</p>
</div>

<div class="warning">
<p>As of April 15, 2010, we are migrating many terabytes of data from our
<i>eventwarehouse</i> to our new datastore.  As a result of this, a
backlog in recent data is building up.  Recent graphs may show a lack of
data, which does not reflect any physical process.  The graphs will be
automatically updated when the backlog is finally processed.</p>
</div>
-->

<div id="intro">
<p>The following is a list of stations, grouped per cluster.  If the station
is a link, you can click on it to access its data.  If not, that means
that this station has not yet uploaded data to our new datastore.</p>
</div>

<div id="stationList">
{% for cluster in clusters %}
    <h3>{{ cluster.name }}</h3>
    <ul>
    {% for station in cluster.stations %}
        <li>
        {% if station.link %}
            <a href="{% url status_display.views.station station.link %}">
        {% endif %}
        <span id="stationNumber">{{ station.number }}</span> &mdash; <span id="stationName">{{ station.name }}</span>
        {% if station.link %}</a>{% endif %}
        </li>
    {% endfor %}
    </ul>
{% endfor %}
</div>

{% endblock %}
