{% extends 'base_stations.html' %}

{% load url from future %}

{% block head_styles %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}styles/stations.css" />
{% endblock %}

{% block header %}
    List of HiSPARC stations, per cluster
{% endblock %}

{% block list %}
  {% for cluster in clusters %}
    <div class="cluster">
        <h2><a href="{% url 'status_display.views.stations_on_map' cluster.name %}">{{ cluster.name }}</a></h2>
        <ul>
          {% for station in cluster.stations %}
            <li>
                <a href="{% url 'status_display.views.station_status' station.number %}"><span class='statusBall {{ station.status }}'></span></a>
              {% if station.link %}
                <a href="{% url 'status_display.views.station' station.link %}">
                  {{ station.number }} &mdash; {{ station.name }}
                </a>
              {% else %}
                  {{ station.number }} &mdash; {{ station.name }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        {% for subcluster in cluster.subclusters %}
        <div class="subcluster">
            <h3><a href="{% url 'status_display.views.stations_on_map' subcluster.name %}">{{ subcluster.name }}</a></h3>
            <ul>
              {% for station in subcluster.stations %}
                <li>
                    <a href="{% url 'status_display.views.station_status' station.number %}"><span class='statusBall {{ station.status }}'></span></a>
                  {% if station.link %}
                    <a href="{% url 'status_display.views.station' station.link %}">
                      {{ station.number }} &mdash; {{ station.name }}
                    </a>
                  {% else %}
                      {{ station.number }} &mdash; {{ station.name }}
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
