{% extends 'base_station.html' %}

{% load url from future %}
{% load fix_data %}

{% block current_config %}currentPage{% endblock %}

{% block title %}{{ block.super }} - Configuration{% endblock %}

{% block head %}
    <script src="{{ STATIC_URL }}scripts/flot_settings.js"></script>
    <script src="{{ STATIC_URL }}scripts/OpenLayersHisparcMap.js"></script>
    <script>
      {% if config %}

        $(document).ready(function() {
            var map = createMap("gpsMap");
            var style = createStyle(map);

            map.setCenter(new OpenLayers.LonLat({{ config.gps_longitude }}, {{ config.gps_latitude }})
                                        .transform(fromProjection, toProjection), 16);

            var gpsLayer = new OpenLayers.Layer.Vector("gps", {styleMap: new OpenLayers.StyleMap(style)});

            {% for gps in gpstrack %}
                var feature = new OpenLayers.Feature.Vector(
                                    new OpenLayers.Geometry.Point{{ gps }}.transform(fromProjection, toProjection),
                                   {id: "", // no label, normally {id: {{ station.number }},
                                    name: "{{ station.name }}",
                                    status: "gpsold"});
                gpsLayer.addFeatures(feature);
            {% endfor %}

            var feature = new OpenLayers.Feature.Vector(
                                new OpenLayers.Geometry.Point({{ config.gps_longitude }}, {{ config.gps_latitude }})
                                                       .transform(fromProjection, toProjection),
                               {id: "", // no label, normally {id: {{ station.number }},
                                name: "{{ station.name }}",
                                status: "gpsnew"});
            gpsLayer.addFeatures(feature);

            map.addLayer(gpsLayer);

            var bounds = gpsLayer.getDataExtent();
            map.zoomToExtent(bounds);

            var layer_style = OpenLayers.Util.extend({}, OpenLayers.Feature.Vector.style['default']);
        });

      {% endif %}

        function downloadGraph(target) {
            var dataurl = $(target + ' .flot-base')[0].toDataURL();
            window.open(dataurl, '_blank', "height=350, width=630, toolbar=yes")
        }
    </script>
{% endblock %}

{% block data %}
    <div id="graphs">
      {% if voltagegraph %}
        <div id="voltageGraph" class="histogram">
            <h3>PMT voltage</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#vg_histogram')">Image</a> |
                <a href="{% url 'status_display.views.get_voltage_config_source' station.number %}">Source</a>
            </div>
            <div class="plot" id="vg_histogram"></div>
            <script>
                vg_labels = {yaxis: {axisLabel: "{{ voltagegraph.y_label }}"},
                             xaxis: {axisLabel: "{{ voltagegraph.x_label }}"}}
                $.extend(true, vg_options, vg_labels)
                $.plot($("#vg_histogram"), [
                  {% for data in voltagegraph.data %}
                    {data: {{ data|fix_histogram_time|fix_timestamps }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], vg_options);
            </script>
        </div>
      {% endif %}

      {% if currentgraph %}
        <div id="currentGraph" class="histogram">
            <h3>PMT current</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#cg_histogram')">Image</a> |
                <a href="{% url 'status_display.views.get_current_config_source' station.number %}">Source</a>
            </div>
            <div class="plot" id="cg_histogram"></div>
            <script>
                cg_labels = {yaxis: {axisLabel: "{{ currentgraph.y_label }}"},
                             xaxis: {axisLabel: "{{ currentgraph.x_label }}"}}
                $.extend(true, cg_options, cg_labels)
                $.plot($("#cg_histogram"), [
                  {% for data in currentgraph.data %}
                    {data: {{ data|fix_histogram_time|fix_timestamps }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], cg_options);
            </script>
        </div>
      {% endif %}

      {% if timingoffsetgraph %}
        <div id="timingoffsetGraph" class="histogram">
            <h3>Detector timing offsets</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#to_histogram')">Image</a> |
                <a href="{% url 'status_display.views.get_detector_timing_offsets_source' station.number %}">Source</a>
            </div>
            <div class="plot" id="to_histogram"></div>
            <script>
                to_labels = {yaxis: {axisLabel: "{{ timingoffsetgraph.y_label }}"},
                             xaxis: {axisLabel: "{{ timingoffsetgraph.x_label }}"}}
                $.extend(true, to_options, to_labels)
                $.plot($("#to_histogram"), [
                  {% for data in timingoffsetgraph.data %}
                    {data: {{ data|fix_histogram_time|fix_timestamps }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], to_options);
            </script>
        </div>
      {% endif %}

        <div id="gpsPositions">
            <h3>GPS positions</h3>
            <div class="sourceLink">
                <a href="{% url 'status_display.views.get_gps_config_source' station.number %}">Source</a>
            </div>
            <div id="gpsMap"></div>
            {% if altitudegraph %}
            <div class="sourceLink">
                <a onclick="downloadGraph('#ag_histogram')">Image</a>
            </div>
            <div class="plot" id="ag_histogram"></div>
            <script>
                ag_labels = {yaxis: {axisLabel: "{{ altitudegraph.y_label }}"},
                             xaxis: {axisLabel: "{{ altitudegraph.x_label }}"}}
                $.extend(true, ag_options, ag_labels)
                $.plot($("#ag_histogram"), [
                  {% for data in altitudegraph.data %}
                    {data: {{ data|fix_histogram_time|fix_timestamps }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], ag_options);
            </script>
            {% endif %}
        </div>

      {% if layout %}
        <div id="stationLayout">
            <h3>Station layout</h3>
            <div class="sourceLink">
                <a href="{% url 'station_layout.views.layout_submit' %}">Submit layout</a> |
                <a href="{% url 'status_display.views.get_station_layout_source' station.number %}">Source</a>
            </div>
            {% include "layout_canvas.html" %}
            <script>
                var radius = [{{ layout.detector_1_radius }},
                              {{ layout.detector_2_radius }},
                              {{ layout.detector_3_radius }},
                              {{ layout.detector_4_radius }}]
                var alpha = [{{ layout.detector_1_alpha }},
                             {{ layout.detector_2_alpha }},
                             {{ layout.detector_3_alpha }},
                             {{ layout.detector_4_alpha }}]
                var beta = [{{ layout.detector_1_beta }},
                            {{ layout.detector_2_beta }},
                            {{ layout.detector_3_beta }},
                            {{ layout.detector_4_beta }}]
                draw_station(context, radius, alpha, beta);
            </script>
        </div>
      {% endif %}
    </div>
{% endblock %}

{% block config %}
  {% if config %}
    <div class="sectionTitle">Current configuration</div>
    <div class="keyvalue">
        <span class="key">Since</span>
        <span class="value">{{ config.timestamp|date:"D, j N Y" }}</span>
    </div>
    <div id="master">
        <div class="sectionTitle">Master</div>
        <div class="keyvalue"><span class="key">Version</span><span class="value">{{ config.mas_version }}</span></div>
        <div class="keyvalue"><span class="key ch1">HV Ch1</span><span class="value">{{ config.mas_ch1_voltage|floatformat:0 }} V</span></div>
        <div class="keyvalue"><span class="key ch2">HV Ch2</span><span class="value">{{ config.mas_ch2_voltage|floatformat:0 }} V</span></div>
    </div>
    {% if has_slave %}
    <div id="slave">
        <div class="sectionTitle">Slave</div>
        <div class="keyvalue"><span class="key">Version</span><span class="value">{{ config.slv_version }}</span></div>
        <div class="keyvalue"><span class="key ch3">HV Ch3</span><span class="value">{{ config.slv_ch1_voltage|floatformat:0 }} V</span></div>
        <div class="keyvalue"><span class="key ch4">HV Ch4</span><span class="value">{{ config.slv_ch2_voltage|floatformat:0 }} V</span></div>
    </div>
    {% endif %}
    <div id="settings">
        <div class="sectionTitle">Settings</div>
        <div class="keyvalue">
            <span class="key">Trigger</span>
          {% if has_slave and config.trig_low_signals == 3 and config.trig_high_signals == 2 and config.trig_and_or and config.trig_external == 0 %}
            <span class="value good">&#x2713;</span>
          {% elif not has_slave and config.trig_low_signals == 2 and config.trig_high_signals == 0 and not config.trig_and_or and config.trig_external == 0 %}
            <span class="value good">&#x2713;</span>
          {% else %}
            <span class="value bad">&#x2717;</span>
          {% endif %}
        </div>
        <div class="keyvalue">
            <span class="key">Thresholds</span>
          {% if config.mas_ch1_thres_low == -30.21 and config.mas_ch1_thres_high == -70.11 and config.mas_ch2_thres_low == -30.21 and config.mas_ch2_thres_high == -70.11 and config.slv_ch1_thres_low == -30.21 and config.slv_ch1_thres_high == -70.11 and config.slv_ch2_thres_low == -30.21 and config.slv_ch2_thres_high == -70.11 %}
            <span class="value good">&#x2713;</span>
          {% else %}
            <span class="value bad">&#x2717;</span>
          {% endif %}
        </div>
        <div class="keyvalue">
            <span class="key">Coincidence window</span>
          {% if config.precoinctime == 1.0 and config.coinctime == 1.5 and config.postcoinctime == 3.5 %}
            <span class="value good">&#x2713;</span>
          {% else %}
            <span class="value bad">&#x2717;</span>
          {% endif %}
        </div>
        <div class="keyvalue">
            <span class="key">Data reduction</span>
            <span class="value {% if config.reduce_data %}good">&#x2713;{% else %}bad">&#x2717;{% endif %}</span>
        </div>
        <div class="keyvalue">
            <span class="key">Start DAQ mode</span>
            <span class="value {% if config.startmode %}good">&#x2713;{% else %}bad">&#x2717;{% endif %}</span>
        </div>

    </div>
    <div id="stationPosition">
        <div class="sectionTitle">Position</div>
        <div class="keyvalue"><span class="key">Latitude</span><span class="value">{{ config.gps_latitude|floatformat:7 }}°</span></div>
        <div class="keyvalue"><span class="key">Longitude</span><span class="value">{{ config.gps_longitude|floatformat:7 }}°</span></div>
        <div class="keyvalue"><span class="key">Altitude</span><span class="value">{{ config.gps_altitude|floatformat:2 }} m</span></div>
        <div class="keyvalue"><span class="key gpsBall curr"></span><span class="value">Current position</span></div>
        <div class="keyvalue"><span class="key gpsBall old"></span><span class="value">Old positions</span></div>
    </div>
  {% endif %}
{% endblock %}
