{% extends 'base_stations.html' %}

{% load url from future %}

{% block head_styles %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}styles/stations.css" />
{% endblock %}

{% block header %}
    List of stations, by number
{% endblock %}

{% block intro %}
    The following is a list of stations ordered by station number. If the station
    is a link, you can click on it to access its data. If not, that means
    that this station has not yet uploaded data to our datastore.
    The color in front of a station indicates its current status:
    <span class='statusBall down'></span> down,
    <span class='statusBall problem'></span> problem,
    <span class='statusBall up'></span> up.
{% endblock %}

{% block list %}
    <ul>
      {% for station in stations %}
        <li>
            <span class='statusBall {{ station.status }}'></span>
          {% if station.link %}
            <a href="{% url 'status_display.views.station' station.link %}">{{ station.number }} &mdash; {{ station.name }}</a>
          {% else %}
            {{ station.number }} &mdash; {{ station.name }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
{% endblock %}
