{% extends 'base.html' %}

{% load url from future %}

{% block head %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}styles/stations.css" />
{% endblock %}

{% block content %}

<div id="stationListPages">
    Station Lists:<br />
    <a href="../stations" target="_top">order by cluster</a><br />
    <a href="../stations_by_number" target="_top">order by number</a><br />
    <a href="../stations_by_name" target="_top">order by name</a><br />
    <a href="../stations_on_map" target="_top">stations on map</a>
</div>

<div id="header">
    <h2>List of stations, per cluster</h2>
</div>

<div id="intro">
    <p>The following is a list of stations, grouped per cluster.  If the station
    is a link, you can click on it to access its data.  If not, that means
    that this station has not yet uploaded data to our datastore.</p>
</div>

<div id="stationList">
  {% for cluster in clusters %}
    <div class="cluster">
        <h3>{{ cluster.name }}</h3>
        <ul>
          {% for station in cluster.stations %}
            <li>
              {% if station.link %}
                <a href="{% url 'status_display.views.station' station.link %}">{{ station.number }} &mdash; {{ station.name }}</a>
              {% else %}
                {{ station.number }} &mdash; {{ station.name }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
    </div>
  {% endfor %}
</div>

<!--
Add an option/switch to show a list of stations sorted by station number.
<div id="stationListAlt">
{% for station in allstations %}
 <ul>
  <li>
  {% if station.link %}<a href="{% url 'status_display.views.station' station.link %}">{% endif %}
   {{ station.number }} &mdash; {{ station.name }}
  {% if station.link %}</a>{% endif %}
  </li>
 </ul>
{% endfor %}
-->


{% endblock %}
