{% extends 'base.html' %}

{% load url from future %}
{% load fix_data %}

{% block title %}HiSPARC Station: {{ station.number }} - {{ station.name }}{% endblock %}

{% block head_styles %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}styles/station_page.css" />
    <!--[if lte IE 7]><style type="text/css" media="all">
        #yearlist li, #monthlist li {
            display: inline;}
    </style><![endif]-->
{% endblock %}

{% block content %}
<div id="header">
    <h2>Station: {{ station.number }} &mdash; {{ station.name }}</h2>
  {% if has_data %}
    <div id="dataLink">
        <a href="{% url 'status_display.views.station' station.number %}">Station Data</a>
    </div>
  {% endif %}
    <div id="listLink">
        <a href="{% url 'status_display.views.stations' %}">Stations List</a>
    </div>
</div>

<iframe width="100%" height="600" frameborder="0" scrolling="auto" src="http://vpn.hisparc.nl/nagios/cgi-bin/status.cgi?host={{ pc.name }}&style=detail"></iframe>

{% endblock %}
