{% extends 'base_stations.html' %}

{% load url from future %}

{% block head_styles %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}styles/stations.css" />
{% endblock %}

{% block header %}
    List of stations, by name
{% endblock %}

{% block intro %}
    The following is a list of stations ordered by station name. If the station
    is a link, you can click on it to access its data. If not, that means
    that this station has not yet uploaded data to our datastore.
{% endblock %}

{% block list %}
    <ul>
      {% for station in stations %}
        <li>
            <span class='statusBall {{ station.status }}'></span>
          {% if station.link %}
            <a href="{% url 'status_display.views.station' station.link %}">{{ station.name }} ({{ station.number }})</a>
          {% else %}
            {{ station.name }} ({{ station.number }})
          {% endif %}
        </li>
      {% endfor %}
    </ul>
{% endblock %}
