/* Header */

#header * {
    margin: 0;
    padding: 0;}

#header {
    margin-bottom: 15px;}

#date {
    font-weight: normal;
    font-size: 11pt;
    margin-top: 5px;}

/* Graphs */

#graphs {
    float: left;
    width: 609px;}

#nagios {
    width: 850px;
    height: 600px;
    position: absolute;
    z-index: -1;}

#gpsPositions {
    margin-bottom: 20px;}

#eh_histogram,
#bd_histogram,
#td_histogram,
#vg_histogram ,
#cg_histogram {
    height: 200px;}

#ph_histogram,
#pi_histogram {
    height: 300px;}

.histogram,
#gpsPositions {
    width: 600px;}

.plot {
    display: block;
    clear: both;}

.x2Axis .tickLabel {
    display: none;}

.y2Axis .tickLabel {
    display: none;}

h3 {
    display: inline-block;}

.sourceLink {
    float: right;
    position: relative;
    right: 15px;
    font-size: 8pt;
    margin: 27px 0 0 0;
    padding: 0;}

.sourceLink a {
    padding: 3px;
    cursor: pointer;}


/* Sidebar */

#navigation,
#config {
    float: right;
    width: 220px;
    font-size: 9pt;
    border-left: 1px solid black;
    padding-left: 20px;}

#yearlist ul,
#monthlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;}

#yearlist li,
#monthlist li {
    display: inline-block;
    line-height: 2;}

#monthlist li {
    width: 23px;
    margin-right: 10px;}

#yearlist li {
    margin-right: 7px;}

#calendar .day,
#calendar .dayname {
    width: 25px;
    height: 25px;
    text-align: right;}

#navigation a,
.nolink {
    padding: 3px;}

#next,
#prev {
    padding: 0 !important;}

a:hover {
    color: #005;
    text-decoration: underline;}

a {
    font-weight: bold;
    border-radius: 3px;
    color: #25B;
    text-decoration: none;}

a.currentDate:hover,
a.currentPage:hover,
a.currentDate,
a.currentPage {
    color: white;
    background: #075EBB;}

#calendar .dayname {
    font-size: 8pt;}

#config {
    margin-top: 30px;}

#navigation > div,
#config > div {
    padding-top: 10px;
    padding-bottom: 10px;}

#prev {
    float: left;
    margin-right: -1em;}

#next {
    float: right;
    right: 1em;
    position: relative;}

.sectionTitle {
    font-size: 130%;
    font-weight: bold;}

.keyvalue {
    margin-top: 5px;
    margin-bottom: 5px;}

.value {
    margin-right: 2px;}

#gpsMap {
    width: 100%;
    height: 250px;}

#stationMap {
    width: 100%;
    height: 200px;}

.olControlAttribution {
    position: absolute !important;
    font-size: 10px !important;
    bottom: 0 !important;
    right: 0 !important;
    background: rgba(255,255,255,0.7);
    font-family: Arial !important;
    padding: 2px 4px !important;
    border-radius: 5 0 0 0 !important;}

.olControlScaleLine {
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    background: rgba(255,255,255,0.7);
    font-family: Arial !important;
    padding: 2px 4px !important;
    border-radius: 0 5px 0 0 !important;}

.key {
    font-weight: bold;
    margin-right: 10px;}

.ch1 {color:#222;}
.ch2 {color:#D22;}
.ch3 {color:#1C2;}
.ch4 {color:#1CC;}

.good {color:#091;}
.bad {color:#F11;}

.gpsBall {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: inline-block;
    opacity: 0.8;}

.curr {background-color: #2A7AE2;}
.old {background-color: #B85C32;}
