#stationList {
    font-size: 10pt;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}

.cluster {
    display: block;
}

ul {
    list-style: none;
}

li {
}

#stationList a {
    font-size: 10pt;
    color: #23B;
    text-decoration: none;
}

#stationList a:hover {
    color: #005;
    text-decoration: underline;
}

