#header {
    margin-bottom: 10px;}

#stationListPages, #stationListLegend, #stationListSidebar {
    font-size: 10pt;
    float: right;
    width: 170px;
    border-left: 1px solid black;
    padding-left: 15px;}

#stationListPages a {
    color: #23B;
    text-decoration: none;}

#stationListPages a:hover {
    color: #005;
    text-decoration: underline;}

#stationListLegend, #stationListSidebar {
    margin-top: 20px;}

.sectionTitle {
    margin-top: 10px;
    font-size: 110%;
    font-weight: bold;}

#stationList {
    float: left;
    width: 660px;
    font-size: 10pt;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;}

#intro {
    font-size: 10pt;}

.country {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;}

.country h1 {
    -moz-column-span: all;
    -webkit-column-span: all;
    column-span: all;
    padding-top: 10px;
    font-size: 32px;}

.cluster {
    display: block;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    break-inside: avoid-column;}

.cluster h1 {
    margin-top: 0px;}

.subcluster {
    display: block;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    break-inside: avoid-column;}

.cluster h3 {
    margin-top: 0px;}

#stationList ul {
    margin: 0px 0px 15px 0px;
    padding-left: 15px;
    list-style: none;}

#stationList li {
    line-height:140%}

#stationList ul a {
    font-size: 10pt;
    color: #23B;
    text-decoration: none;}

#stationList ul a:hover {
    color: #005;
    text-decoration: underline;}

h2 {
    font-size: 24px;
    margin-top: 0px;}

h3 a, h2 a, h1 a {
    color: #000;
    text-decoration: none;}

.statusBall {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: inline-block;
    opacity: 0.3;}

.statusBall:hover {
    opacity: 0.8;}

.down {
    background-color: red;}

.problem {
    background-color: gold;}

.up {
    background-color: green;}

.unknown {
    visibility: hidden;
    background-color: blue;}

#stationMap {
    float: left;
    width: 660px;
    height: 500px;}

.olControlAttribution {
    position: absolute !important;
    font-size: 10px !important;
    bottom: 0 !important;
    right: 0 !important;
    background: rgba(255,255,255,0.7);
    font-family: Arial !important;
    padding: 2px 4px !important;
    border-radius: 5px 0 0 0 !important;}

.olControlScaleLine {
    position: absolute !important;
    bottom: 0px !important;
    left: 0 !important;
    background: rgba(255,255,255,0.7);
    font-family: Arial !important;
    padding: 2px 4px !important;
    border-radius: 0 5px 0 0 !important;}
