#stationList {
    font-size: 10pt;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.cluster {
    display: block;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    break-inside: avoid-column;
}

ul {
    list-style: none;
}

li {
    line-height:140%
}

#stationList a {
    font-size: 10pt;
    color: #23B;
    text-decoration: none;
}

#stationList a:hover {
    color: #005;
    text-decoration: underline;
}

