{% extends 'base.html' %}

{% load static %}

{% block title %}
    403 - Forbidden
{% endblock %}

{% block head_styles %}
<style type="text/css">
    #notfound {
        width: 600px;
        height: 413px;
        margin: 0 auto;
        background: white url("{% static '403.png' %}") center no-repeat;
    }

    #help {
        width: 600px;
        margin: 0 auto;
        text-align: center;
        font-size: 11pt;
    }

    a {
        color: #25B;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block content %}
<div id="notfound"></div>

<div id="help">
    Ah ah ah! You didn't say the magic word!<br>
    You can go back home and try again: <a href="https://data.hisparc.nl">https://data.hisparc.nl</a>.<br>
    Or contact us: beheer [at] hisparc.nl.
</div>
{% endblock %}
