/* Header */

#header * {
    margin: 0;
    padding: 0;}

#header {
    margin-bottom: 15px;}

#date {
    margin-top: 5px;
    font-weight: normal;
    font-size: 11pt;}

/* Graphs */

#graphs {
    float: left;
    width: 609px;
    margin-bottom: 20px;}

#nagios {
    position: absolute;
    z-index: -1;
    width: 850px;
    height: 600px;}

#ct_histogram,
#cn_histogram {
    height: 250px;}

#eh_histogram,
#bd_histogram,
#td_histogram,
#vg_histogram,
#cg_histogram,
#to_histogram {
    height: 200px;}

#ag_histogram {
    height: 130px;}

#srl_histogram,
#srh_histogram,
#ph_histogram,
#pi_histogram,
#sl_histogram,
#sh_histogram,
#az_histogram,
#ze_histogram {
    height: 300px;}

#tr_graph_at,
#tr_graph_ph,
#tr_graph_pi {
    height: 170px;}

#ph_histogram_mip {
    height: 225px;}

.histogram,
#gpsPositions,
#stationLayout {
    width: 600px;}

.plot {
    display: block;
    clear: both;}

#gpsMap {
    clear: both;
    width: 585px;
    height: 250px;}

.x2Axis .tickLabel {
    display: none;}

.y2Axis .tickLabel {
    display: none;}

h3 {
    display: block;
    clear: both;
    margin-bottom: 0.5em;}

.sourceLink {
    position: relative;
    right: 15px;
    float: right;
    margin: 0;
    padding: 0;
    font-size: 8pt;}

.sourceLink a {
    padding: 3px;
    cursor: pointer;}

.statusBall {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;}

.statusCube {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: grey;}

.down {background-color: rgba(255, 0, 0, 0.3);}
.down:hover {background-color: rgba(255, 0, 0, 0.8);}

.problem {background-color: rgba(255, 215, 0, 0.5);}
.problem:hover {background-color: rgba(255, 215, 0, 0.9);}

.up {background-color: rgba(0, 180, 0, 0.3);}
.up:hover {background-color: rgba(0, 180, 0, 0.8);}

.unknown {background-color: rgba(180, 180, 180, 0.3);}
.unknown:hover {background-color: rgba(128, 128, 128, 0.8);}

/* Sidebar */

#sidebar {
    float: right;
    font-size: 9pt;}

#navigation,
#config,
#status,
#help {
    padding-left: 20px;
    width: 220px;
    border-left: 1px solid black;}

#config,
#status,
#help {
    margin-top: 30px;}

#yearlist ul,
#monthlist ul {
    margin: 0;
    padding: 0;
    list-style-type: none;}

#yearlist li,
#monthlist li {
    display: inline-block;
    line-height: 2;}

#monthlist li {
    margin-right: 10px;
    width: 23px;}

#yearlist li {
    margin-right: 7px;}

#calendar .day,
#calendar .dayname {
    width: 25px;
    height: 25px;
    text-align: right;}

#navigation a,
.nolink {
    padding: 3px;}

#next,
#prev {
    padding: 0 !important;}

a {
    font-weight: bold;}

a.currentDate:hover,
a.currentPage:hover,
a.currentDate,
a.currentPage {
    background: #075EBB;
    color: white;}

#calendar .dayname {
    font-size: 8pt;}

#navigation > div,
#config > div,
#status > div {
    padding-top: 10px;
    padding-bottom: 10px;}

#download {
    margin-top: 5px;
    margin-bottom: 5px;}

#download a{
    padding: 0px;}

#prev {
    float: left;
    margin-right: -1em;}

#next {
    position: relative;
    right: 1em;
    float: right;}

.sectionTitle {
    font-weight: bold;
    font-size: 130%;}

.keyvalue {
    margin-top: 5px;
    margin-bottom: 5px;}

.value {
    margin-right: 2px;}

#stationMap {
    width: 100%;
    height: 200px;}

.key {
    margin-right: 10px;
    font-weight: bold;}

.ch1 {color:#222;}
.ch2 {color:#D22;}
.ch3 {color:#1C2;}
.ch4 {color:#1CC;}

.good {color:#091;}
.bad {color:#F11;}

.gpsBall {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 0.8;}

.curr {background-color: #2A7AE2;}
.old {background-color: #B85C32;}


/* Help */

.term {
    font-size: 18px;}

.meaning {
    margin-left: 10px;
    font-size: 13px;}
