{% extends 'base.html' %}

{% block title %}
HiSPARC Coincidences Download Form
{% endblock %}

{% block head_styles %}
<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}styles/download_form.css" />
{% endblock %}

{% block content %}

<div id="header"><h2>Coincidences Download Form</h2></div>

<p>Not all data is available for download yet, please only use dates in 2014 (2014-1-1 and later).</p>

<form action='/data/download/coincidences/' method="post">
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endblock %}
