{% extends 'base.html' %}

{% block title %}
HiSPARC Data Download Form
{% endblock %}

{% block head_styles %}
<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}styles/download_form.css" />
{% endblock %}

{% block content %}

<div id="header"><h2>Data Download Form</h2></div>

<p>
    Not all data is available for download yet. We are upgrading the
    event processing, once that is finished we will start generating the
    data for download for <strong>all</strong> data. Recent dates are
    more likely to work.
</p>

<form action='/data/download/' method="post">
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endblock %}
