{% extends 'base.html' %}

{% block title %}
HiSPARC data download form
{% endblock %}

{% block head_styles %}
<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}styles/download_form.css">
{% endblock %}

{% block content %}

<div id="header"><h2>Data download form</h2></div>

<form action='/data/download/' method="post">
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

<p class="small"><a href="{% url 'raw_data.views.coincidences_download_form' %}">Switch to coincidences download form</a></p>

{% endblock %}
