{% extends 'base.html' %}

{% load static %}

{% block head_styles %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'styles/station_page.css' %}">
{% endblock %}

{% block title %}
    HiSPARC Station: {{ station.number }} - {{ station.name }}
{% endblock %}

{% block content %}

    <div id="header">
        <h2>{% block header %}Station: {{ station.number }} &mdash; {{ station.name }}{% endblock %}</h2>
        <div id="date">{% block date %}{% now "D, j N Y" %}{% endblock %}</div>
    </div>

    {% block data %}
    {% endblock %}

    <div id="sidebar">
        <div id="navigation">
          {% block navigation_sidebar %}
            <div class="keyvalue">
                <span class="key">Stations</span>
                <span class="value"><a href="{% url 'status:stations' %}">List</a></span>
                <span class="value"><a href="{% url 'status:map:stations_on_map' %}">Map</a></span>
                <span class="value {% if not coincidences_found %}nolink">Coincidences</span>{% else %}"><a class="{% block current_coincidences %}{% endblock %}" href="{% block current_date %}{% url 'status:network:coincidences' %}{% endblock %}">Coincidences</a></span>{% endif %}
            </div>

            <div class="keyvalue"><span class="key">Station</span>
                <span class="value {% if not has_data %}nolink">Data</span>{% else %}"><a class="{% block current_data %}{% endblock %}" href="{% url 'status:station:summary' station.number %}">Data</a></span>{% endif %}
                <!--<span class="value"><a class="{% block current_status %}{% endblock %}" href="{% url 'status:station:status' station.number %}">Status</a></span>-->
                <span class="value nolink" style="color:gray">Status</span>
                <span class="value {% if not has_config %}nolink">Config</a></span>{% else %}"><a class="{% block current_config %}{% endblock %}" href="{% url 'status:station:config' station.number %}">Config</a></span>{% endif %}
            </div>
          {% endblock %}
        </div>

        <div id="config">
          {% block config %}{% endblock %}
        </div>

        <div id="help">
          {% block help %}
            <div class="keyvalue">
                <span class="value"><a href="{% url 'status:help' %}" target="_blank">Help</a></span>
            </div>
          {% endblock %}
        </div>
    </div>

{% endblock %}
