{% extends 'status_display/base_stations.html' %}

{% block current_location %}currentPage{% endblock %}

{% block head_styles %}
    {{ block.super }}
    <style>
        #stationList {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }
    </style>
{% endblock %}

{% block header %}
    List of HiSPARC stations
{% endblock %}

{% block list %}
  {% for country, clusters in countries.items %}
    <div class="country">
        <h2><a href="{% url 'status:map:stations_on_map' country=country %}">{{ country }}</a></h2>
          {% for cluster, subclusters in clusters.items %}
            <div class="cluster">
                <h3><a href="{% url 'status:map:stations_on_map' country=country cluster=cluster %}">{{ cluster }}</a></h3>
                {% for subcluster, stations in subclusters.items %}
                <div class="subcluster">
                    <h4><a href="{% url 'status:map:stations_on_map' country=country cluster=cluster subcluster=subcluster %}">{{ subcluster }}</a></h4>
                    <ul>
                      {% for station in stations %}
                        <li>
                          {% if station.link %}
                            <a href="{% url 'status:station:summary' station_number=station.number %}">
                              <span class='statusBall {{ station.status }}'></span>
                              {{ station.number }} &mdash; {{ station.name }}
                            </a>
                          {% else %}
                              <span class='statusBall {{ station.status }}'></span>
                              {{ station.number }} &mdash; {{ station.name }}
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
          {% endfor %}
    </div>
  {% endfor %}
  {% if test_stations %}
    <div class="country">
        <h2>Test stations</h2>
        <ul>
          {% for station in test_stations %}
            <li>
              {% if station.link %}
                <a href="{% url 'status:station:summary' station_number=station.number %}">
                  <span class='statusBall {{ station.status }}'></span>
                  {{ station.number }} &mdash; {{ station.name }}
                </a>
              {% else %}
                  <span class='statusBall {{ station.status }}'></span>
                  {{ station.number }} &mdash; {{ station.name }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
    </div>
  {% endif %}
{% endblock %}
