{% extends 'status_display/base_station.html' %}

{% load fix_data %}
{% load static %}

{% block current_data %}currentPage{% endblock %}
{% block current_date %}{% url 'status:network:coincidences' date=date %}{% endblock %}

{% block title %}{{ block.super }} - {{ date|date:"D, j N Y" }}{% endblock %}

{% block head %}
    <script src="{% static 'scripts/flot_settings.js' %}"></script>
    <script>
      {% if location.latitude and location.longitude %}
        $(document).ready(function() {
            var map = createMap("stationMap");

            var station = L.circleMarker(L.latLng({{ location.latitude }}, {{ location.longitude }}),
                                         $.extend({}, pointStyle, {color: statusColors.unknown}));
            station.bindTooltip('{{ station.number }}', {direction: 'top'}).openTooltip();
            station.addTo(map);

            map.setView(L.latLng({{ location.latitude }}, {{ location.longitude }}), 16);
        });
      {% endif %}

        function downloadGraph(target) {
            var dataurl = $(target + ' .flot-base')[0].toDataURL();
            window.open(dataurl, '_blank', "height=350, width=630, toolbar=yes")
        }
    </script>
{% endblock %}

{% block date %}{{ date|date:"D, j N Y" }}{% endblock %}

{% block data %}
    <div id="graphs">

      {% if plots.eventtime %}
        <div id="eventHistogram" class="histogram">
            <h3>Event histogram (number of events per hour)</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#eh_histogram')">Image</a> |
                <a href="{% url 'status:source:eventtime' station_number=station.number date=date %}">Source</a>
            </div>
            <div class="plot" id="eh_histogram"></div>
            <script>
                eh_labels = {yaxis: {axisLabel: "{{ plots.eventtime.y_label }}"},
                             xaxis: {axisLabel: "{{ plots.eventtime.x_label }}"}}
                $.extend(true, eh_options, eh_labels)
                $.plot($("#eh_histogram"), [
                  {% for data in plots.eventtime.data %}
                    {data: {{ data|fix_histogram_data }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], eh_options);
            </script>
        </div>
      {% endif %}

      {% if plots.pulseheight %}
        <div id="pulseheightHistogram" class="histogram">
            <h3>Pulseheight histogram</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#ph_histogram')">Image</a> |
                <a href="{% url 'status:source:pulseheight' station_number=station.number date=date %}">Source</a>
            </div>
            <div class="plot" id="ph_histogram"></div>
            <script>
                ph_labels = {yaxis: {axisLabel: "{{ plots.pulseheight.y_label }}"},
                             xaxis: {axisLabel: "{{ plots.pulseheight.x_label }}"}}
                $.extend(true, ph_options, ph_labels)
                $.plot($("#ph_histogram"), [
                  {% for data in plots.pulseheight.data %}
                    {data: {{ data|fix_histogram_data }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], ph_options);
            </script>
        </div>
      {% endif %}

      {% if plots.pulseintegral %}
        <div id="pulseintegralHistogram" class="histogram">
            <h3>Pulseintegral histogram</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#pi_histogram')">Image</a> |
                <a href="{% url 'status:source:pulseintegral' station_number=station.number date=date %}">Source</a>
            </div>
            <div class="plot" id="pi_histogram"></div>
            <script>
                pi_labels = {yaxis: {axisLabel: "{{ plots.pulseintegral.y_label }}"},
                             xaxis: {axisLabel: "{{ plots.pulseintegral.x_label }}"}}
                $.extend(true, pi_options, pi_labels)
                $.plot($("#pi_histogram"), [
                  {% for data in plots.pulseintegral.data %}
                    {data: {{ data|fix_histogram_data }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], pi_options);
            </script>
        </div>
      {% endif %}

      {% if plots.singlesratelow %}
        <div id="singlesratelowData" class="histogram">
            <h3>Singles (per second above low threshold)</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#sd_histogram')">Image</a> |
                <a href="{% url 'status:source:singlesratelow' station_number=station.number date=date %}">Source</a>
            </div>
            <div class="plot" id="srl_histogram"></div>
            <script>
                srl_labels = {yaxis: {axisLabel: "{{ plots.singlesratelow.y_label }}"},
                             xaxis: {axisLabel: "{{ plots.singlesratelow.x_label }}"}}
                $.extend(true, srl_options, srl_labels)
                $.plot($("#srl_histogram"), [
                  {% for data in plots.singlesratelow.data %}
                    {data: {{ data|fix_timestamps_in_data|slice_data:50|round_data:2 }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], srl_options);
            </script>
        </div>
      {% endif %}

      {% if plots.singlesratehigh %}
        <div id="singlesratehighData" class="histogram">
            <h3>Singles (per second above high threshold)</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#srh_histogram')">Image</a> |
                <a href="{% url 'status:source:singlesratehigh' station_number=station.number date=date %}">Source</a>
            </div>
            <div class="plot" id="srh_histogram"></div>
            <script>
                srh_labels = {yaxis: {axisLabel: "{{ plots.singlesratehigh.y_label }}"},
                              xaxis: {axisLabel: "{{ plots.singlesratehigh.x_label }}"}}
                $.extend(true, srh_options, srh_labels)
                $.plot($("#srh_histogram"), [
                  {% for data in plots.singlesratehigh.data %}
                    {data: {{ data|fix_timestamps_in_data|slice_data:50|round_data:2 }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], srh_options);
            </script>
        </div>
      {% endif %}

      {% if plots.singleslow %}
        <div id="singleslowHistogram" class="histogram">
            <h3>Singles rate histogram (singles above low threshold)</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#sl_histogram')">Image</a> |
                <a href="{% url 'status:source:singleslow' station_number=station.number date=date %}">Source</a>
            </div>
            <div class="plot" id="sl_histogram"></div>
            <script>
                sl_labels = {yaxis: {axisLabel: "{{ plots.singleslow.y_label }}"},
                             xaxis: {axisLabel: "{{ plots.singleslow.x_label }}"}}
                $.extend(true, sl_options, sl_labels)
                $.plot($("#sl_histogram"), [
                  {% for data in plots.singleslow.data %}
                    {data: {{ data|fix_histogram_data }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], sl_options);
            </script>
        </div>
      {% endif %}

      {% if plots.singleshigh %}
        <div id="singleshighHistogram" class="histogram">
            <h3>Singles rate histogram (singles above high threshold)</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#sh_histogram')">Image</a> |
                <a href="{% url 'status:source:singleshigh' station_number=station.number date=date %}">Source</a>
            </div>
            <div class="plot" id="sh_histogram"></div>
            <script>
                sh_labels = {yaxis: {axisLabel: "{{ plots.singleshigh.y_label }}"},
                             xaxis: {axisLabel: "{{ plots.singleshigh.x_label }}"}}
                $.extend(true, sh_options, sh_labels)
                $.plot($("#sh_histogram"), [
                  {% for data in plots.singleshigh.data %}
                    {data: {{ data|fix_histogram_data }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], sh_options);
            </script>
        </div>
      {% endif %}

      {% if plots.zenith %}
        <div id="zenithHistogram" class="histogram">
            <h3>Zenith histogram</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#ze_histogram')">Image</a> |
                <a href="{% url 'status:source:zenith' station_number=station.number date=date %}">Source</a>
            </div>
            <div class="plot" id="ze_histogram"></div>
            <script>
                ze_labels = {yaxis: {axisLabel: "{{ plots.zenith.y_label }}"},
                             xaxis: {axisLabel: "{{ plots.zenith.x_label }}"}}
                $.extend(true, ze_options, ze_labels)
                $.plot($("#ze_histogram"), [
                  {% for data in plots.zenith.data %}
                    {data: {{ data|fix_histogram_data }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], ze_options);
            </script>
        </div>
      {% endif %}

      {% if plots.azimuth %}
        <div id="azimuthHistogram" class="histogram">
            <h3>Azimuth histogram</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#az_histogram')">Image</a> |
                <a href="{% url 'status:source:azimuth' station_number=station.number date=date %}">Source</a>
            </div>
            <div class="plot" id="az_histogram"></div>
            <script>
                az_labels = {yaxis: {axisLabel: "{{ plots.azimuth.y_label }}"},
                             xaxis: {axisLabel: "{{ plots.azimuth.x_label }}"}}
                $.extend(true, az_options, az_labels)
                $.plot($("#az_histogram"), [
                  {% for data in plots.azimuth.data %}
                    {data: {{ data|fix_histogram_data }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], az_options);
            </script>
        </div>
      {% endif %}

      {% if plots.barometer %}
        <div id="barometerData" class="histogram">
            <h3>Barometer data</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#bd_histogram')">Image</a> |
                <a href="{% url 'status:source:barometer' station_number=station.number date=date %}">Source</a>
            </div>
            <div class="plot" id="bd_histogram"></div>
            <script>
                bd_labels = {yaxis: {axisLabel: "{{ plots.barometer.y_label }}"},
                             xaxis: {axisLabel: "{{ plots.barometer.x_label }}"}}
                $.extend(true, bd_options, bd_labels)
                $.plot($("#bd_histogram"), [
                  {% for data in plots.barometer.data %}
                    {data: {{ data|fix_timestamps_in_data|slice_data:50|round_data:2 }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], bd_options);
            </script>
        </div>
      {% endif %}

      {% if plots.temperature %}
        <div id="temperatureData" class="histogram">
            <h3>Temperature data</h3>
            <div class="sourceLink">
                <a onclick="downloadGraph('#td_histogram')">Image</a> |
                <a href="{% url 'status:source:temperature' station_number=station.number date=date %}">Source</a>
            </div>
            <div class="plot" id="td_histogram"></div>
            <script>
                td_labels = {yaxis: {axisLabel: "{{ plots.temperature.y_label }}"},
                             xaxis: {axisLabel: "{{ plots.temperature.x_label }}"}}
                $.extend(true, td_options, td_labels)
                $.plot($("#td_histogram"), [
                  {% for data in plots.temperature.data %}
                    {data: {{ data|fix_timestamps_in_data|slice_data:50|round_data:2 }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2},], td_options);
            </script>
        </div>
      {% endif %}
    </div>
{% endblock %}

{% block navigation_sidebar %}
    {{ block.super }}

    <div id="download"><a href="{% url 'data:download_form' station_number=station.number start=date.isoformat end=tomorrow.isoformat %}">Download event summary data</a></div>

  {% if previous %}
     <a class='nextprev' id='prev' href="{{ previous }}">&larr;</a>
  {% endif %}
  {% if next %}
     <a class='nextprev' id='next' href="{{ next }}">&rarr;</a>
  {% endif %}

    <table id="calendar">
    <tr><th colspan="7">{{ date|date:"F Y" }}</th></tr>
    <tr>
      {% for day in thismonth.days %}
        <th class="dayname">{{ day }}</th>
      {% endfor %}
    </tr>
      {% for week in thismonth.weeks %}
        <tr>
          {% for day in week %}
            <td class="day">
              {% if day.link %}
                <a {% if date.day == day.day %}class='currentDate'{% endif %} href="{{ day.link }}">{{ day.day }}</a>
              {% else %}
                <span class="nolink">{{ day.day }}</span>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>

    <div id="monthlist">
    <ul>
      {% for month in month_list %}
        <li>
          {% if month.link %}
            <a {% if date.month == forloop.counter %}class='currentDate'{% endif %} href="{{ month.link }}">{{ month.month }}</a>
          {% else %}
            <span class="nolink">{{ month.month }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    </div>

    <div id="yearlist">
    <ul>
      {% for year in year_list %}
        <li>
          {% if year.link %}
            <a {% if date.year == year.year %}class='currentDate'{% endif %} href="{{ year.link }}">{{ year.year }}</a>
          {% else %}
            <span class="nolink">{{ year.year }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    </div>
{% endblock %}

{% block config %}
  {% if config %}
    <div id="master">
        <div class="sectionTitle">Master</div>
        <div class="keyvalue"><span class="key">Serial</span><span class="value">{{ config.master }}</span></div>
        <div class="keyvalue"><span class="key">FPGA</span><span class="value">{{ config.master_fpga }}</span></div>
        <div class="keyvalue"><span class="key ch1">HV Ch1</span><span class="value">{{ config.mas_ch1_voltage|floatformat:0 }} V</span></div>
        <div class="keyvalue"><span class="key ch2">HV Ch2</span><span class="value">{{ config.mas_ch2_voltage|floatformat:0 }} V</span></div>
        <div class="keyvalue"><span class="key ch1">Ch1 Thresholds</span><span class="value">{{ config.mas_ch1_thres_low|mv_to_adc }} ADC {{ config.mas_ch1_thres_high|mv_to_adc }} ADC</span></div>
        <div class="keyvalue"><span class="key ch2">Ch2 Thresholds</span><span class="value">{{ config.mas_ch2_thres_low|mv_to_adc }} ADC {{ config.mas_ch2_thres_high|mv_to_adc }} ADC</span></div>
    </div>
    {% if has_slave %}
    <div id="slave">
        <div class="sectionTitle">Slave</div>
        <div class="keyvalue"><span class="key">Serial</span><span class="value">{{ config.slave }}</span></div>
        <div class="keyvalue"><span class="key">FPGA</span><span class="value">{{ config.slave_fpga }}</span></div>
        <div class="keyvalue"><span class="key ch3">HV Ch3</span><span class="value">{{ config.slv_ch1_voltage|floatformat:0 }} V</span></div>
        <div class="keyvalue"><span class="key ch4">HV Ch4</span><span class="value">{{ config.slv_ch2_voltage|floatformat:0 }} V</span></div>
        <div class="keyvalue"><span class="key ch3">Ch3 Thresholds</span><span class="value">{{ config.slv_ch1_thres_low|mv_to_adc }} ADC {{ config.slv_ch1_thres_high|mv_to_adc }} ADC</span></div>
        <div class="keyvalue"><span class="key ch4">Ch4 Thresholds</span><span class="value">{{ config.slv_ch2_thres_low|mv_to_adc }} ADC {{ config.slv_ch2_thres_high|mv_to_adc }} ADC</span></div>
    </div>
    {% endif %}
    <div id="stationPosition">
        <div class="sectionTitle">Position</div>
          {% if location.latitude and location.longitude %}
            <div class="keyvalue"><span class="key">Latitude</span><span class="value">{{ location.latitude }}°</span></div>
            <div class="keyvalue"><span class="key">Longitude</span><span class="value">{{ location.longitude }}°</span></div>
            <div class="keyvalue"><span class="key">Altitude</span><span class="value">{{ location.altitude }} m</span></div>
            <div id="stationMap"></div>
          {% else %}
            <div class="keyvalue"><span class="key">Unknown!</span></div>
          {% endif %}
    </div>
  {% endif %}
{% endblock %}
