{% extends 'status_display/base_stations.html' %}

{% block current_location %}currentPage{% endblock %}

{% block head_styles %}
    {{ block.super }}
    <style type="text/css" media="all">#stationList {-webkit-column-count: 1; -moz-column-count: 1; column-count: 1;}</style>
{% endblock %}

{% block header %}
    List of HiSPARC stations
{% endblock %}

{% block list %}
  {% for country, clusters in countries.items %}
    <div class="country">
        <h1><a href="{% url 'status:map:stations_on_map' country %}">{{ country }}</a></h1>
          {% for cluster, subclusters in clusters.items %}
            <div class="cluster">
                <h2><a href="{% url 'status:map:stations_on_map' country cluster %}">{{ cluster }}</a></h2>
                {% for subcluster, stations in subclusters.items %}
                <div class="subcluster">
                    <h3><a href="{% url 'status:map:stations_on_map' country cluster subcluster %}">{{ subcluster }}</a></h3>
                    <ul>
                      {% for station in stations %}
                        <li>
                            <!--<a href="{% url 'status:station:status' station.number %}">--><span class='statusBall {{ station.status }}'></span></a>
                          {% if station.link %}
                            <a href="{% url 'status:station:summary' station.number %}">
                              {{ station.number }} &mdash; {{ station.name }}
                            </a>
                          {% else %}
                              {{ station.number }} &mdash; {{ station.name }}
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
          {% endfor %}
    </div>
  {% endfor %}
  {% if test_stations %}
    <div class="country">
        <h1>Test stations</h1>
        <ul>
          {% for station in test_stations %}
            <li>
                <a href="{% url 'status:station:status' station.number %}"><span class='statusBall {{ station.status }}'></span></a>
              {% if station.link %}
                <a href="{% url 'status:station:summary' station.number %}">
                  {{ station.number }} &mdash; {{ station.name }}
                </a>
              {% else %}
                  {{ station.number }} &mdash; {{ station.name }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
    </div>
  {% endif %}
{% endblock %}
