{% extends 'status_display/base_stations.html' %}

{% block current_name %}currentPage{% endblock %}

{% block header %}
    List of HiSPARC stations, by name
{% endblock %}

{% block list %}
    <ul>
      {% for station in stations %}
      <li>
        {% if station.link %}
          <a href="{% url 'status:station:summary' station.number %}">
            <span class='statusCube {{ station.status }}'></span>
            {{ station.number }} &mdash; {{ station.name }}
          </a>
        {% else %}
            <span class='statusCube {{ station.status }}'></span>
            {{ station.number }} &mdash; {{ station.name }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
{% endblock %}
