{% extends 'base_live.html' %}

{% load url from future %}

{% block title %}{{ block.super }}{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/flot_live.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/screenfull.min.js"></script>
    <script type="text/javascript">
        function downloadGraph(target) {
            var dataurl = $(target + ' .flot-base')[0].toDataURL();
            window.open(dataurl, '_blank', "height=350, width=630, toolbar=yes")
        }

        function resizeToFit() {
            w_scale = $(window).width() / 1940;
            h_scale = $(window).height() / 1100;
            scale = Math.min(w_scale, h_scale);
            $('body').css({'zoom': scale,
                         '-moz-transform': 'scale(' + scale + ')',
                         '-moz-transform-origin': '0 0'})
        }

        $(document).ready(function() {
            // Automatically resize the content to fit in window
            resizeToFit();
            $(window).resize(function() {
                resizeToFit();
            });

            // Show a fullscreen button if browser support Fullscreen API
            if (screenfull.enabled) {
                $('#fullscreen').css('visibility', 'visible').click(function() {
                    screenfull.request();
                });}

            // Get new traces on an interval
            var data = [];
            var refreshRate = 5000;
            var iteratorStart = 40;
            var iterator = iteratorStart;
            var baseurl = "{% url 'live.views.get_new_event' station.number %}"

            function fetchData() {
                function onDataReceived(traces) {
                    if (iterator > 1) {
                        iterator--;}
                    else {
                        iterator = iteratorStart;}
                    data = [];
                    for (var i = 0; i < traces.data.length; i++) {
                        data.push({data: traces.data[i], yaxis: 1});}
                    $.plot("#tr_graph", data, tr_options);
                }

                $.ajax({url: baseurl + iterator + '/',
                        type: "GET",
                        dataType: "json",
                        success: onDataReceived});
                setTimeout(fetchData, refreshRate);
            }

            setTimeout(fetchData, refreshRate);

        });

    </script>
{% endblock %}

{% block content %}
    <div id="fullscreen">
        <a>Enter fullscreen</a>
    </div>
    {{ block.super }}

    <div id="traces">
      {% if traces %}
        <div id="traceGraph" class="graph">
            <h3>Event signal</h3>
            <div class="plot" id="tr_graph"></div>
            <script type="text/javascript">
                $.plot($("#tr_graph"), [
                  {% for data in traces.data %}
                    {data: {{ data }}, yaxis: 1},
                  {% endfor %}
                    {data: [0, 0], lines: {show: false}, xaxis: 2, yaxis: 2}],
                    tr_options);
            </script>
        </div>
      {% endif %}
    </div>
{% endblock %}
