[req]
distinguished_name = req_distinguished_name
req_extensions     = v3_req
x509_extensions    = v3_req

[req_distinguished_name]
C = NL
L = Amsterdam
O = HiSPARC
OU = FakeCA
CN = {{ cert_hostname }}

[v3_ca]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints       = CA:TRUE
keyUsage               = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment, keyAgreement, keyCertSign

[v3_req]
authorityKeyIdentifier=keyid:always, issuer:always
subjectKeyIdentifier = hash
basicConstraints     = CA:false
subjectAltName       = @alt_names
keyUsage             = digitalSignature,keyEncipherment

[alt_names]
DNS.1 = {{ cert_hostname }}
