[req]
distinguished_name = req_distinguished_name
req_extensions     = v3_req
x509_extensions    = v3_req

[req_distinguished_name]
commonName       = {{ cert_hostname }}
#emailAddress     = fake@fake
#organizationName = HiSPARC
#localityName     = Amsterdam
#countryName      = NL

[v3_req]
# The extentions to add to a self-signed cert
subjectKeyIdentifier = hash
basicConstraints     = critical,CA:false
subjectAltName       = DNS:{{ cert_hostname }}
keyUsage             = critical,digitalSignature,keyEncipherment
