# Allow httpd (apache) to write to the nagios checkresults spool
#
# created using `audit2allow -aM`

module nagios-spool-httpd 1.0;

require {
        type openvpn_t;
        type nagios_spool_t;
        type openvpn_etc_t;
        type etc_t;
        type httpd_t;
        class dir { add_name write };
        class file { create getattr open read setattr write };
}

#============= httpd_t ==============
allow httpd_t nagios_spool_t:dir { add_name write };
allow httpd_t nagios_spool_t:file { create getattr open read setattr write };
