{% extends 'base.html' %}

{% load static %}

{% block title %}
    400 - Bad Request
{% endblock %}

{% block head_styles %}
<style type="text/css">
    #notfound {
        width: 600px;
        height: 413px;
        margin: 0 auto;
        background: white url("{% static '400.png' %}") center no-repeat;}

    #help {
        width: 600px;
        margin: 0 auto;
        text-align: center;
        font-size: 11pt;}

    a {
        color: #25B;
        text-decoration: none;}
</style>
{% endblock %}

{% block content %}
<div id="notfound"></div>

<div id="help">
    Something about your request is wrong.<br>
    You can go back home and try again: <a href="http://data.hisparc.nl">http://data.hisparc.nl</a>.<br>
    Or contact us: beheer [at] hisparc.nl.
</div>
{% endblock %}
