name: Run tests

on:
  push:

defaults:
  run:
    shell: bash -l {0}

jobs:
  tests:
    services:
      postgres:
        image: postgres:14-alpine
        env:
          POSTGRES_DB: publicdb
          POSTGRES_USER: hisparc
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
    runs-on: ubuntu-latest
    env:
      DJANGO_SETTINGS_MODULE: publicdb.settings_develop
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: '3.10'
          auto-update-conda: true
      - run: make devinstall
      - run: make coveragetests

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: pip
          cache-dependency-path: 'requirements-dev.txt'
      - run: pip install --upgrade --upgrade-strategy eager -r requirements-dev.txt
      - run: make linttest

  ansible-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: pip
          cache-dependency-path: 'requirements-dev.txt'
      - run: pip install --upgrade --upgrade-strategy eager -r requirements-dev.txt
      - run: make ansibletest

  hadolint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hadolint/hadolint-action@v3.1.0

  docs:
    if: github.ref == 'refs/heads/master'
    needs: [tests, lint, ansible-lint, hadolint]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: '3.10'
          auto-update-conda: true
      - run: make devinstall
      - run: pip install Sphinx
      - run: make doctest
      - uses: peaceiris/actions-gh-pages@v3.9.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: doc/_build/html
          publish_branch: gh-pages
          force_orphan: true
