/* Header */

html {
    background: white;}

#container {
    margin: auto;
    width: 1920px;
    height: 1080px;}

#pageHeader {
    background: url(../header.png) top right no-repeat;
    height: 63px;
    width: 200px;
    margin: 0;
    padding: 0;
    left: 1700px;
    display: inline-block;
    position: relative;}

#header * {
    margin: 0;
    padding: 0;}

#header {
    margin-bottom: 15px;}

#header h2 {
    text-align: center;
    font-size: 2em;}

#date {
    font-weight: normal;
    font-size: 11pt;
    margin-top: 5px;}

#fullscreen {
    padding: 0px 15px;
    visibility: hidden;
    font-size: 12px;
    text-align: right;}

/* Graphs */

#graphs {
    float: left;
    width: 1000px;}

#tr_graph {
    height: 500px;}

.plot {
    display: block;
    clear: both;}

.x2Axis .tickLabel {
    display: none;}

.y2Axis .tickLabel {
    display: none;}

h3 {
    text-align: center;
    display: block;
    clear: both;
    margin-bottom: 0.5em;}

.sourceLink {
    float: right;
    position: relative;
    right: 15px;
    font-size: 8pt;
    margin: 0;
    padding: 0;}

.sourceLink a {
    padding: 3px;
    cursor: pointer;}


/* Sidebar */

a:hover {
    color: #005;
    text-decoration: underline;}

a {
    font-weight: bold;
    border-radius: 3px;
    color: #25B;
    text-decoration: none;}

.ch1 {color: #222;}
.ch2 {color: #D22;}
.ch3 {color: #1C2;}
.ch4 {color: #1CC;}
